.config-title{
    font-size: 2.5em;
    text-align: center;
}


.content {
    display: none;
}

/*-----------------------------------------------------------------------------*/

/*Canvas + cuadro*/

.content {
    background: rgba(12, 25, 44, .4);
    width: 840px;
    height: 560px;
    margin: 0 auto;
    position: relative;
    margin-top: 5%;
    box-shadow: 2px 5px 20px rgba(191, 164, 255, 0.5);
}

/*--------------------------------------------------------------------------------------*/
/*Botones*/
.menus {
    float: left;
    top: 25%;
    left: -25%;
    position: absolute;
}

nav button {
    list-style: none;
    font-size: 1.6em;
    padding: 15px;
    padding-left: 10px;
    color: #fff;
    display: block;
    margin-top: 35px;
    text-align: center;
}


.ajustes {
    float: right;
    width: 60%;
    height: 100%;
}

.graficos {
    position: absolute;
    width: 70%;
    margin-left: -100px;
    margin-top: 60px;
}

label {
    font-size: 1.5em;
    font-family: 'Silkscreen', cursive;
    color: #fff;
    text-shadow: 0 0 20px #A29CD7;
}

input {
    padding: 80px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    padding: 10px;
    background: linear-gradient(0deg, #333, #000);
    outline: none;
    border-radius: 50px;
    box-shadow: 0 0 0 4px #353535,
        0 0 0 5px #3e3e3e,
        inset 0 0 10px rgba(0, 0, 0, 1),
        0 5px 20px rgba(0, 0, 0, .5),
        inset 0 0 15px rgba(0, 0, 0, .2);
}

input:checked[type="checkbox"] {
    background: linear-gradient(0deg, #946dff, #6e20ff);
    box-shadow: 0 0 2px #946dff,
        0 0 0 4px #946dff,
        0 0 0 5px #946dff,
        inset 0 0 10px rgba(0, 0, 0, 1),
        0 5px 20px rgba(0, 0, 0, .5),
        inset 0 0 15px rgba(0, 0, 0, .2);
}

input[type="range"] {
    -webkit-appearance: none;
    padding: 2px;
    background: #33323a;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #664AFF;
    border-radius: 50%;
    border: 4px solid #664AFF;
    cursor: pointer;
    box-shadow: -407px 0 0 400px #664AFF;
}

.audio {
    position: absolute;
    width: 70%;
    margin-left: -100px;
    margin-top: 180px;
}

#aceptar-graficos{
    font-size: 1.3em;
    padding: 15px;
    padding-left: 15px;
    text-align: center;
    margin-top: 40px;
    margin-left: 100px;
}

#aceptar-audio{
    font-size: 1.3em;
    padding: 15px;
    padding-left: 15px;
    text-align: center;
    margin-top: 80px;
    margin-left: 100px;
}


/*Btn-Return*/

#btn-return {
    position: absolute;
    right: 2em;
    top: -3em;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
}

#btn-return::before {
    content: '';
    inset: 2px;
    background: #27282c;
}

#btn-return span {
    z-index: 1;
}

#btn-return i {
    inset: 0;
    display: block;
}
