body {
    transition: all 0.3s;
}

body::after {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100vw;
    left: 0;
    transition: all 0.3s;
}

.loading::after {
    top: 0;
}

#players-title::after {
    content: "SELECCIONA LOS JUGADORES";
}

#btn-singleplayer {
    position: relative; /* Este es para las cositas que tiene arriba y abajo */
    font-size: 2em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    margin-bottom: 100px;
    --clr: #8A7DFD;
}

#btn-multiplayer {
    position: relative;
    font-size: 2em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    margin-bottom: 100px;
    --clr: #8A7DFD;
}

@media (max-width: 450px) {
    #btn-singleplayer {
        font-size: 1.2rem !important;
    }

    #btn-multiplayer {
        font-size: 1.2rem !important;
    }
}

#btn-return {
    position: absolute;
    right: 2em;
    top: 2em;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
}


/*
#btn-return span {
    z-index: 1;
}

[type="text"] {
    font-size: 2em;
    font-family: 'Silkscreen', cursive;
    border: none;
    text-transform: uppercase;
    border-radius: 0;
}
*/