body {
    transition: all 0.3s;
}

body::after {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100vw;
    left: 0;
    transition: all 0.3s;
}

.loading::after {
    top: 0;
}

.title::after {
    content: "SELECCIONA LOS JUGADORES";
}

/*Btn-1 Player*/
#btn-singleplayer {
    position: relative;
    font-size: 2em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    margin-bottom: 150px;
    --clr: #8A7DFD;
}

[type="text"] {
    font-size: 2em;
    font-family: 'Silkscreen', cursive;
    border: none;
    text-transform: uppercase;
    border-radius: 0;
}

/*Btn-MultiPlayer*/
#btn-multiplayer {
    position: relative;
    font-size: 2em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    margin-top: -150px;
    margin-bottom: 150px;
    --clr: #8A7DFD;
}

/*Btn-Return*/
#btn-return {
    position: absolute;
    right: 2em;
    top: 2em;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
}

#btn-return span {
    z-index: 1;
}