/*Desierto*/
.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    margin-left: 1em;
    margin-right: 1em;
    height: 500px;
    margin-top: 70px;
}

.flex-item-desert {
    position: relative;
    flex: 33%;
    background-image: url('../assets/images/desierto.jpg');
    cursor: pointer;
}

.flex-item-forest {
    position: relative;
    flex: 33%;
    background-image: url('../assets/images/bosque3.jpg');
    cursor: pointer;
}

.flex-item-snow {
    position: relative;
    flex: 33%;
    background-image: url('../assets/images/nieve.jpg');
    cursor: pointer;
}

.title::after {
    content: "ESCOGE TU DESTINO";
}

@media (max-width: 1000px) {

    body {
        overflow: scroll
    }

    .flex-container {
        flex-direction: column;
        height: 2000px;
    }
}

.capa {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #8521DD, #D121DD);
    opacity: 0;
    transition: all 500ms ease-out;
}

.flex-item-desert .capa h2::before {
    content: "DESIERTO";
}

.flex-item-forest .capa h2::before {
    content: "BOSQUE";
}

.flex-item-snow .capa h2::before {
    content: "NIEVE";
}

.capa h2 {
    position: relative;
    top: 0%;
    transition: all 500ms ease-out;
}

.capa:hover > h2 {
    top: 10%;
}

.capa:hover {
    opacity: 0.5;
    visibility: visible;
}


/*-----------------------------------------------------------------------------*/
/*Btn-Return*/
#btn-return {
    position: absolute;
    right: 2em;
    top: 2em;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    margin-bottom: 150px;
}

#btn-return::before {
    content: '';
    inset: 2px;
    background: #27282c;
}

#btn-return span {
    z-index: 1;
}

#btn-return #regreso {
    inset: 0;
    display: block;
}

#btn-return #regreso::before {
    content: '';
    position: absolute;
    top: -3%;
    left: 93%;
    width: 10px;
    height: 5px;
    background: #2c2727;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

#btn-return:hover #regreso::before {
    width: 20px;
    left: 20%;
}

#btn-return #regreso::after {
    content: '';
    position: absolute;
    top: 97%;
    left: 30%;
    width: 10px;
    height: 5px;
    background: #2c2727;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

#btn-return:hover #regreso::after {
    width: 20px;
    left: 80%;
}