#signup-title::after {
    content: "REGISTRATE";
}

[type="text"], [type="password"] {
    font-size: 2em;
    font-family: 'Silkscreen', cursive;
    border: none;
    text-transform: uppercase;
    border-radius: 0;
}

label {
    font-family: 'Silkscreen', cursive;
    color: #fff;
    font-size: 42px;
    text-shadow: 0 0 20px #A29CD7;
    font-size: 2em;
    font-family: 'Silkscreen', cursive;
    border: none;
    text-transform: uppercase;
    border-radius: 0;
}