<div class="container">
    <div class="row d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 id="dificulty-title"></h1>

            <div>
                <a class="btn button button-anim" id="btn-easy" style="--clr:#8A7DFD" href="/scenarios" value="NORMAL">
                    <span>MODO FÁCIL</span>
                    <i class="widget"></i>
                </a>
            </div>
            <div>
                <a class="btn button button-anim" id="btn-hard" style="--clr:#8A7DFD" href="/scenarios" value="HARD">
                    <span>MODO DÍFICIL</span>
                    <i class="widget"></i>
                </a>
            </div>
        </div>
    </div>
</div>