<div class="loader-wrapper">
    <h5>Cargando...</h5>
    <div class="loader">
        <span style="--i:1"></span>
        <span style="--i:2"></span>
        <span style="--i:3"></span>
        <span style="--i:4"></span>
        <span style="--i:5"></span>
        <span style="--i:6"></span>
        <span style="--i:7"></span>
        <span style="--i:8"></span>
        <span style="--i:9"></span>
        <span style="--i:10"></span>
        <span style="--i:11"></span>
        <span style="--i:12"></span>
        <span style="--i:13"></span>
        <span style="--i:14"></span>
        <span style="--i:15"></span>
        <span style="--i:16"></span>
        <span style="--i:17"></span>
        <span style="--i:18"></span>
        <span style="--i:19"></span>
        <span style="--i:20"></span>
    </div>
</div>

<div class="home-container">
    <h1 class="title" id="home-title">HEXCHESS</h1>
    <div class="bubbles">
        <span style="--i:11"></span>
        <span style="--i:12"></span>
        <span style="--i:24"></span>
        <span style="--i:10"></span>
        <span style="--i:14"></span>
        <span style="--i:23"></span>
        <span style="--i:18"></span>
        <span style="--i:16"></span>
        <span style="--i:19"></span>
        <span style="--i:20"></span>
        <span style="--i:22"></span>
        <span style="--i:25"></span>
        <span style="--i:18"></span>
        <span style="--i:21"></span>
        <span style="--i:15"></span>
        <span style="--i:13"></span>
        <span style="--i:26"></span>
        <span style="--i:17"></span>
        <span style="--i:13"></span>
        <span style="--i:28"></span>
        <span style="--i:11"></span>
        <span style="--i:12"></span>
        <span style="--i:24"></span>
        <span style="--i:10"></span>
        <span style="--i:14"></span>
        <span style="--i:23"></span>
        <span style="--i:18"></span>
        <span style="--i:16"></span>
        <span style="--i:19"></span>
        <span style="--i:20"></span>
        <span style="--i:22"></span>
        <span style="--i:25"></span>
        <span style="--i:18"></span>
        <span style="--i:21"></span>
        <span style="--i:15"></span>
        <span style="--i:13"></span>
        <span style="--i:26"></span>
        <span style="--i:17"></span>
        <span style="--i:13"></span>
        <span style="--i:28"></span>
    </div>

    <div id="menu-buttons">
        <div>
            <a class="button" href="/players" id="btn-play">
                <span>JUGAR</span>
                <i class="clickeable"></i>
            </a>
        </div>
        <div class="d-inline-block">
            <a href="/configuration" class="btn button" id="btn-config">
                <i class="bx bx-cog clickeable"></i>
            </a>
        </div>
        <div class="d-inline-block">
            <a href="/score" class="btn button" id="btn-score">
                <i class="bx bx-trophy clickeable"></i>
            </a>
        </div>
        <div class="d-inline-block">
            <a class="btn button" id="btn-book" href="/instructions">
                <i class="bx bx-book-open clickeable"></i>
            </a>
        </div>
        <div class="d-inline-block">
            <button class="btn button" id="btn-user">
                <i class="bx bx-exit clickeable"></i>
            </button>
        </div>
    </div>
</div>
</div>