<section class="container">
    <div class="row d-flex align-items-center justify-content-center vh-100">
        <form class="text-center" id="login-form">
            <h1 class="title">Inicia sesión</h1>

            <div class="mb-5">
                <label id="signin1" for="username" class="form-label" role="button">Nombre de usuario:</label>
                <input type="text" name="username" id="username" class="form-control">
            </div>

            <div class="mb-5">
                <label id="signin" for="password" class="form-label" role="button">Contraseña:</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
            
            <div class="d-sm-flex justify-content-center">
                <button type="submit" class="btn button button-anim mb-2 me-2" id="btn-login" value="login">
                    <span>Entrar</span>
                    <i class="widget"></i>
                </button>
                <button type="button" class="btn button button-anim mb-2" id="btn-guess" value="guess">
                    <span>Invitado</span>
                    <i class="widget"></i>
                </button>
            </div>
            <a type="button" class="btn button button-anim mb-2 text-center" id="btn-guess" value="signup" href="/signup">
                <span>Registrarse</span>
                <i class="widget"></i>
            </a>
        </form>
    </div>
</section>
