<!--<canvas id="canvas"></canvas>-->
<section class="container" style="display: none;" id="pause-menu">
    <div class="rpw d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="title">PAUSA</h1>
            <div class="d-inline-block">
                <a class="btn button button-anim" href="/" id="btn-home">
                    <span></span>
                    <i id="home"></i>
                    <i class="bx bx-home"></i>
                </a>
            </div>
            <div class="d-inline-block">
                <a class="btn button button-anim" type="submit" id="btn-resume">
                    <span></span>
                    <i id="restart"></i>
                    <i class="bx bx-redo"></i>
                </a>
            </div>
        </div>
    </div>
</section>