<section class="container">
    <div class="d-flex align-items-center justify-content-center vh-100">
        <form class="text-center" id="signup-form">
            <h2 id="signup-title"></h2>

            <div class="mb-5">
                <label id="signup1"  for="username" class="form-label" role="button">Nombre de usuario:</label>
                <input type="text" name="username" id="username" class="form-control">
            </div>

            <div class="mb-4">
                <label id="signup" for="password" class="form-label" role="button">Contraseña:</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>

            <div class="d-sm-flex justify-content-center">
                <button type="submit" class="btn button button-anim" id="btn-register" value="register">
                    <span>Registrarse</span>
                    <i class="widget"></i>
                </button>
                <a type="button" class="btn button button-anim" id="btn-login" value="login" href="/login">
                    <span>Inicia sesión</span>
                    <i class="widget"></i>
                </a>
            </div>
        </form>
    </div>
</section>
