<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HexChess</title>

    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/play.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
</head>
<body>
    <div class="loader-wrapper">
        <h5>Cargando...</h5>
        <div class="loader">
            <span style="--i:1"></span>
            <span style="--i:2"></span>
            <span style="--i:3"></span>
            <span style="--i:4"></span>
            <span style="--i:5"></span>
            <span style="--i:6"></span>
            <span style="--i:7"></span>
            <span style="--i:8"></span>
            <span style="--i:9"></span>
            <span style="--i:10"></span>
            <span style="--i:11"></span>
            <span style="--i:12"></span>
            <span style="--i:13"></span>
            <span style="--i:14"></span>
            <span style="--i:15"></span>
            <span style="--i:16"></span>
            <span style="--i:17"></span>
            <span style="--i:18"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
        </div>
    </div>

    <div class="content">
        <!--Bubbles-->
        <h1 class="title"></h1>
            <div class="bubbles">
                <span style="--i:11"></span>
                <span style="--i:12"></span>
                <span style="--i:24"></span>
                <span style="--i:10"></span>
                <span style="--i:14"></span>
                <span style="--i:23"></span>
                <span style="--i:18"></span>
                <span style="--i:16"></span>
                <span style="--i:19"></span>
                <span style="--i:20"></span>
                <span style="--i:22"></span>
                <span style="--i:25"></span>
                <span style="--i:18"></span>
                <span style="--i:21"></span>
                <span style="--i:15"></span>
                <span style="--i:13"></span>
                <span style="--i:26"></span>
                <span style="--i:17"></span>
                <span style="--i:13"></span>
                <span style="--i:28"></span>
                <span style="--i:11"></span>
                <span style="--i:12"></span>
                <span style="--i:24"></span>
                <span style="--i:10"></span>
                <span style="--i:14"></span>
                <span style="--i:23"></span>
                <span style="--i:18"></span>
                <span style="--i:16"></span>
                <span style="--i:19"></span>
                <span style="--i:20"></span>
                <span style="--i:22"></span>
                <span style="--i:25"></span>
                <span style="--i:18"></span>
                <span style="--i:21"></span>
                <span style="--i:15"></span>
                <span style="--i:13"></span>
                <span style="--i:26"></span>
                <span style="--i:17"></span>
                <span style="--i:13"></span>
                <span style="--i:28"></span>
            </div>

            <div id="menu-buttons">
                <!--Btn Start-->
                <div id="contain-play">
                    <button class="button" type="submit" id="btn-play" style="--clr:#8A7DFD" onclick="selectjugadores()">
                        <span>JUGAR</span>
                        <i></i>
                    </button>
                </div>
                    
                <!--Btn Config-->
                <div style="display:inline" id="contain-config">
                    <button class="button" type="submit" onclick="openconfig();" id="btn-config" style="--clr:#8A7DFD">
                        <span> </span>
                        <i id="mov"></i>
                        <i class="bx bx-cog"></i>
                    </button>
                </div>
                    
                <!--Btn Score-->
                <div style="display:inline" id="contain-config">
                    <button class="button" type="submit" onclick="openscore();" id="btn-score" style="--clr:#8A7DFD">
                        <span> </span>
                        <i id="mov"></i>
                        <i class="bx bx-trophy"></i>
                    </button>
                </div>
                    
                <!--Btn Usuario-->
                <div style="display:inline" id="contain-usuario">
                    <button class="button" type="submit" id="btn-usuario" style="--clr:#8A7DFD">
                        <span> </span>
                        <i id="movu"></i>
                        <i class="bx bx-user"></i>
                    </button>
                </div>
            </div>
        </div>
        <!--End Bubbles-->
    </div>

    <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js/load.js"></script>
    <script type="text/javascript" src="js/locations.js"></script>
</body>
</html>