#btn-pausa{
    position: absolute;
    right:5%;
    top:5%;
    background: #444;
    color: #fff;
    border-color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Silkscreen', cursive;
    transition: 0.5s;
    font-size: 40px;
    width:60px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#btn-pausa::before {
    content: '';
    inset: 2px;
    background: #27282c;
}

#btn-pausa:hover{
    color:var(--clr);
    border-color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}



