/*stars*/
#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
    box-shadow: 779px 1331px #A29CD7, 324px 42px #b474cd, 303px 586px #b474cd,
        1312px 276px #A29CD7, 451px 625px #b474cd, 521px 1931px #b474cd, 1087px 1871px #A29CD7,
        36px 1546px #A29CD7, 132px 934px #b474cd, 1698px 901px #b474cd, 1418px 664px #A29CD7,
        1448px 1157px #A29CD7, 1084px 232px #b474cd, 347px 1776px #b474cd, 1722px 243px #A29CD7,
        1629px 835px #A29CD7, 479px 969px #b474cd, 1231px 960px #b474cd, 586px 384px #A29CD7,
        164px 527px #A29CD7, 8px 646px #A29CD7, 1150px 1126px #A29CD7, 665px 1357px #A29CD7,
        1556px 1982px #A29CD7, 1260px 1961px #A29CD7, 1675px 1741px #A29CD7,
        1843px 1514px #A29CD7, 718px 1628px #A29CD7, 242px 1343px #A29CD7, 1497px 1880px #A29CD7,
        1364px 230px #A29CD7, 1739px 1302px #A29CD7, 636px 959px #A29CD7, 304px 686px #A29CD7,
        614px 751px #A29CD7, 1935px 816px #A29CD7, 1428px 60px #A29CD7, 355px 335px #A29CD7,
        1594px 158px #A29CD7, 90px 60px #A29CD7, 1553px 162px #A29CD7, 1239px 1825px #A29CD7,
        1945px 587px #A29CD7, 749px 1785px #A29CD7, 1987px 1172px #A29CD7, 1301px 1237px #A29CD7,
        1039px 342px #A29CD7, 1585px 1481px #A29CD7, 995px 1048px #A29CD7, 524px 932px #A29CD7,
        214px 413px #A29CD7, 1701px 1300px #A29CD7, 1037px 1613px #A29CD7, 1871px 996px #A29CD7,
        1360px 1635px #A29CD7, 1110px 1313px #A29CD7, 412px 1783px #A29CD7, 1949px 177px #A29CD7,
        903px 1854px #A29CD7, 700px 1936px #A29CD7, 378px 125px #A29CD7, 308px 834px #A29CD7,
        1118px 962px #A29CD7, 1350px 1929px #A29CD7, 781px 1811px #A29CD7, 561px 137px #A29CD7,
        757px 1148px #A29CD7, 1670px 1979px #A29CD7, 343px 739px #A29CD7, 945px 795px #A29CD7,
        576px 1903px #A29CD7, 1078px 1436px #A29CD7, 1583px 450px #A29CD7, 1366px 474px #A29CD7,
        297px 1873px #A29CD7, 192px 162px #A29CD7, 1624px 1633px #A29CD7, 59px 453px #A29CD7,
        82px 1872px #A29CD7, 1933px 498px #A29CD7, 1966px 1974px #A29CD7, 1975px 1688px #A29CD7,
        779px 314px #A29CD7, 1858px 1543px #A29CD7, 73px 1507px #A29CD7, 1693px 975px #A29CD7,
        1683px 108px #A29CD7, 1768px 1654px #A29CD7, 654px 14px #A29CD7, 494px 171px #A29CD7,
        1689px 1895px #A29CD7, 1660px 263px #A29CD7, 1031px 903px #A29CD7, 1203px 1393px #A29CD7,
        1333px 1421px #A29CD7, 1113px 41px #A29CD7, 1206px 1645px #A29CD7, 1325px 1635px #A29CD7,
        142px 388px #A29CD7, 572px 215px #A29CD7, 1535px 296px #A29CD7, 1419px 407px #A29CD7,
        1379px 1003px #A29CD7, 329px 469px #A29CD7, 1791px 1652px #A29CD7, 935px 1802px #A29CD7,
        1330px 1820px #A29CD7, 421px 1933px #A29CD7, 828px 365px #A29CD7, 275px 316px #A29CD7,
        707px 960px #A29CD7, 1605px 1554px #A29CD7, 625px 58px #A29CD7, 717px 1697px #A29CD7,
        1669px 246px #A29CD7, 1925px 322px #A29CD7, 1154px 1803px #A29CD7, 1929px 295px #A29CD7,
        1248px 240px #A29CD7, 1045px 1755px #A29CD7, 166px 942px #A29CD7, 1888px 1773px #A29CD7,
        678px 1963px #A29CD7, 1370px 569px #A29CD7, 1974px 1400px #A29CD7, 1786px 460px #A29CD7,
        51px 307px #A29CD7, 784px 1400px #A29CD7, 730px 1258px #A29CD7, 1712px 393px #A29CD7,
        416px 170px #A29CD7, 1797px 1932px #A29CD7, 572px 219px #A29CD7, 1557px 1856px #A29CD7,
        218px 8px #A29CD7, 348px 1334px #A29CD7, 469px 413px #A29CD7, 385px 1738px #A29CD7,
        1357px 1818px #A29CD7, 240px 942px #A29CD7, 248px 1847px #A29CD7, 1535px 806px #A29CD7,
        236px 1514px #A29CD7, 1429px 1556px #A29CD7, 73px 1633px #A29CD7, 1398px 1121px #A29CD7,
        671px 1301px #A29CD7, 1404px 1663px #A29CD7, 740px 1018px #A29CD7, 1600px 377px #A29CD7,
        785px 514px #A29CD7, 112px 1084px #A29CD7, 1915px 1887px #A29CD7, 1463px 1848px #A29CD7,
        687px 1115px #A29CD7, 1268px 1768px #A29CD7, 1729px 1425px #A29CD7,
        1284px 1022px #A29CD7, 801px 974px #A29CD7, 1975px 1317px #A29CD7, 1354px 834px #A29CD7,
        1446px 1484px #A29CD7, 1283px 1786px #A29CD7, 11px 523px #A29CD7, 1842px 236px #A29CD7,
        1355px 654px #A29CD7, 429px 7px #A29CD7, 1033px 1128px #A29CD7, 157px 297px #A29CD7,
        545px 635px #A29CD7, 52px 1080px #A29CD7, 827px 1520px #A29CD7, 1121px 490px #A29CD7,
        9px 309px #A29CD7, 1744px 1586px #A29CD7, 1014px 417px #A29CD7, 1534px 524px #A29CD7,
        958px 552px #A29CD7, 1403px 1496px #A29CD7, 387px 703px #A29CD7, 1522px 548px #A29CD7,
        1355px 282px #A29CD7, 1532px 601px #A29CD7, 1838px 790px #A29CD7, 290px 259px #A29CD7,
        295px 598px #A29CD7, 1601px 539px #A29CD7, 1561px 1272px #A29CD7, 34px 1922px #A29CD7,
        1024px 543px #A29CD7, 467px 369px #A29CD7, 722px 333px #A29CD7, 1976px 1255px #A29CD7,
        766px 983px #A29CD7, 1582px 1285px #A29CD7, 12px 512px #A29CD7, 617px 1410px #A29CD7,
        682px 577px #A29CD7, 1334px 1438px #A29CD7, 439px 327px #A29CD7, 1617px 1661px #A29CD7,
        673px 129px #A29CD7, 794px 941px #A29CD7, 1386px 1902px #A29CD7, 37px 1353px #A29CD7,
        1467px 1353px #A29CD7, 416px 18px #A29CD7, 187px 344px #A29CD7, 200px 1898px #A29CD7,
        1491px 1619px #A29CD7, 811px 347px #A29CD7, 924px 1827px #A29CD7, 945px 217px #A29CD7,
        1735px 1228px #A29CD7, 379px 1890px #A29CD7, 79px 761px #A29CD7, 825px 1837px #A29CD7,
        1980px 1558px #A29CD7, 1308px 1573px #A29CD7, 1488px 1726px #A29CD7,
        382px 1208px #A29CD7, 522px 595px #A29CD7, 1277px 1898px #A29CD7, 354px 552px #A29CD7,
        161px 1784px #A29CD7, 614px 251px #A29CD7, 526px 1576px #A29CD7, 17px 212px #A29CD7,
        179px 996px #A29CD7, 467px 1208px #A29CD7, 1944px 1838px #A29CD7, 1140px 1093px #A29CD7,
        858px 1007px #A29CD7, 200px 1064px #A29CD7, 423px 1964px #A29CD7, 1945px 439px #A29CD7,
        1377px 689px #A29CD7, 1120px 1437px #A29CD7, 1876px 668px #A29CD7, 907px 1324px #A29CD7,
        343px 1976px #A29CD7, 1816px 1501px #A29CD7, 1849px 177px #A29CD7, 647px 91px #A29CD7,
        1984px 1012px #A29CD7, 1336px 1300px #A29CD7, 128px 648px #A29CD7, 305px 1060px #A29CD7,
        1324px 826px #A29CD7, 1263px 1314px #A29CD7, 1801px 629px #A29CD7, 1614px 1555px #A29CD7,
        1634px 90px #A29CD7, 1603px 452px #A29CD7, 891px 1984px #A29CD7, 1556px 1906px #A29CD7,
        121px 68px #A29CD7, 1676px 1714px #A29CD7, 516px 936px #A29CD7, 1947px 1492px #A29CD7,
        1455px 1519px #A29CD7, 45px 602px #A29CD7, 205px 1039px #A29CD7, 793px 172px #A29CD7,
        1562px 1739px #A29CD7, 1056px 110px #A29CD7, 1512px 379px #A29CD7, 1795px 1621px #A29CD7,
        1848px 607px #A29CD7, 262px 1719px #A29CD7, 477px 991px #A29CD7, 483px 883px #A29CD7,
        1239px 1197px #A29CD7, 1496px 647px #A29CD7, 1649px 25px #A29CD7, 1491px 1946px #A29CD7,
        119px 996px #A29CD7, 179px 1472px #A29CD7, 1341px 808px #A29CD7, 1565px 1700px #A29CD7,
        407px 1544px #A29CD7, 1754px 357px #A29CD7, 1288px 981px #A29CD7, 902px 1997px #A29CD7,
        1755px 1668px #A29CD7, 186px 877px #A29CD7, 1202px 1882px #A29CD7, 461px 1213px #A29CD7,
        1400px 748px #A29CD7, 1969px 1899px #A29CD7, 809px 522px #A29CD7, 514px 1219px #A29CD7,
        374px 275px #A29CD7, 938px 1973px #A29CD7, 357px 552px #A29CD7, 144px 1722px #A29CD7,
        1572px 912px #A29CD7, 402px 1858px #A29CD7, 1544px 1195px #A29CD7, 667px 1257px #A29CD7,
        727px 1496px #A29CD7, 993px 232px #A29CD7, 1772px 313px #A29CD7, 1040px 1590px #A29CD7,
        1204px 1973px #A29CD7, 1268px 79px #A29CD7, 1555px 1048px #A29CD7, 986px 1707px #A29CD7,
        978px 1710px #A29CD7, 713px 360px #A29CD7, 407px 863px #A29CD7, 461px 736px #A29CD7,
        284px 1608px #A29CD7, 103px 430px #A29CD7, 1283px 1319px #A29CD7, 977px 1186px #A29CD7,
        1966px 1516px #A29CD7, 1287px 1129px #A29CD7, 70px 1098px #A29CD7, 1189px 889px #A29CD7,
        1126px 1734px #A29CD7, 309px 1292px #A29CD7, 879px 764px #A29CD7, 65px 473px #A29CD7,
        1003px 1959px #A29CD7, 658px 791px #A29CD7, 402px 1576px #A29CD7, 35px 622px #A29CD7,
        529px 1589px #A29CD7, 164px 666px #A29CD7, 1876px 1290px #A29CD7, 1541px 526px #A29CD7,
        270px 1297px #A29CD7, 440px 865px #A29CD7, 1500px 802px #A29CD7, 182px 1754px #A29CD7,
        1264px 892px #A29CD7, 272px 1249px #A29CD7, 1289px 1535px #A29CD7, 190px 1646px #A29CD7,
        955px 242px #A29CD7, 1456px 1597px #A29CD7, 1727px 1983px #A29CD7, 635px 801px #A29CD7,
        226px 455px #A29CD7, 1396px 1710px #A29CD7, 849px 1863px #A29CD7, 237px 1264px #A29CD7,
        839px 140px #A29CD7, 1122px 735px #A29CD7, 1280px 15px #A29CD7, 1318px 242px #A29CD7,
        1819px 1148px #A29CD7, 333px 1392px #A29CD7, 1949px 553px #A29CD7, 1878px 1332px #A29CD7,
        467px 548px #A29CD7, 1812px 1082px #A29CD7, 1067px 193px #A29CD7, 243px 156px #A29CD7,
        483px 1616px #A29CD7, 1714px 933px #A29CD7, 759px 1800px #A29CD7, 1822px 995px #A29CD7,
        1877px 572px #A29CD7, 581px 1084px #A29CD7, 107px 732px #A29CD7, 642px 1837px #A29CD7,
        166px 1493px #A29CD7, 1555px 198px #A29CD7, 819px 307px #A29CD7, 947px 345px #A29CD7,
        827px 224px #A29CD7, 927px 1394px #A29CD7, 540px 467px #A29CD7, 1093px 405px #A29CD7,
        1140px 927px #A29CD7, 130px 529px #A29CD7, 33px 1980px #A29CD7, 1147px 1663px #A29CD7,
        1616px 1436px #A29CD7, 528px 710px #A29CD7, 798px 1100px #A29CD7, 505px 1480px #A29CD7,
        899px 641px #A29CD7, 1909px 1949px #A29CD7, 1311px 964px #A29CD7, 979px 1301px #A29CD7,
        1393px 969px #A29CD7, 1793px 1886px #A29CD7, 292px 357px #A29CD7, 1196px 1718px #A29CD7,
        1290px 1994px #A29CD7, 537px 1973px #A29CD7, 1181px 1674px #A29CD7,
        1740px 1566px #A29CD7, 1307px 265px #A29CD7, 922px 522px #A29CD7, 1892px 472px #A29CD7,
        384px 1746px #A29CD7, 392px 1098px #A29CD7, 647px 548px #A29CD7, 390px 1498px #A29CD7,
        1246px 138px #A29CD7, 730px 876px #A29CD7, 192px 1472px #A29CD7, 1790px 1789px #A29CD7,
        928px 311px #A29CD7, 1253px 1647px #A29CD7, 747px 1921px #A29CD7, 1561px 1025px #A29CD7,
        1533px 1292px #A29CD7, 1985px 195px #A29CD7, 728px 729px #A29CD7, 1712px 1936px #A29CD7,
        512px 1717px #A29CD7, 1528px 483px #A29CD7, 313px 1642px #A29CD7, 281px 1849px #A29CD7,
        1212px 799px #A29CD7, 435px 1191px #A29CD7, 1422px 611px #A29CD7, 1718px 1964px #A29CD7,
        411px 944px #A29CD7, 210px 636px #A29CD7, 1502px 1295px #A29CD7, 1434px 349px #A29CD7,
        769px 60px #A29CD7, 747px 1053px #A29CD7, 789px 504px #A29CD7, 1436px 1264px #A29CD7,
        1893px 1225px #A29CD7, 1394px 1788px #A29CD7, 1108px 1317px #A29CD7,
        1673px 1395px #A29CD7, 854px 1010px #A29CD7, 1705px 80px #A29CD7, 1858px 148px #A29CD7,
        1729px 344px #A29CD7, 1388px 664px #A29CD7, 895px 406px #A29CD7, 1479px 157px #A29CD7,
        1441px 1157px #A29CD7, 552px 1900px #A29CD7, 516px 364px #A29CD7, 1647px 189px #A29CD7,
        1427px 1071px #A29CD7, 785px 729px #A29CD7, 1080px 1710px #A29CD7, 504px 204px #A29CD7,
        1177px 1622px #A29CD7, 657px 34px #A29CD7, 1296px 1099px #A29CD7, 248px 180px #A29CD7,
        1212px 1568px #A29CD7, 667px 1562px #A29CD7, 695px 841px #A29CD7, 1608px 1247px #A29CD7,
        751px 882px #A29CD7, 87px 167px #A29CD7, 607px 1368px #A29CD7, 1363px 1203px #A29CD7,
        1836px 317px #A29CD7, 1668px 1703px #A29CD7, 830px 1154px #A29CD7, 1721px 1398px #A29CD7,
        1601px 1280px #A29CD7, 976px 874px #A29CD7, 1743px 254px #A29CD7, 1020px 1815px #A29CD7,
        1670px 1766px #A29CD7, 1890px 735px #A29CD7, 1379px 136px #A29CD7, 1864px 695px #A29CD7,
        206px 965px #A29CD7, 1404px 1932px #A29CD7, 1923px 1360px #A29CD7, 247px 682px #A29CD7,
        519px 1708px #A29CD7, 645px 750px #A29CD7, 1164px 1204px #A29CD7, 834px 323px #A29CD7,
        172px 1350px #A29CD7, 213px 972px #A29CD7, 1837px 190px #A29CD7, 285px 1806px #A29CD7,
        1047px 1299px #A29CD7, 1548px 825px #A29CD7, 1730px 324px #A29CD7, 1346px 1909px #A29CD7,
        772px 270px #A29CD7, 345px 1190px #A29CD7, 478px 1433px #A29CD7, 1479px 25px #A29CD7,
        1994px 1830px #A29CD7, 1744px 732px #A29CD7, 20px 1635px #A29CD7, 690px 1795px #A29CD7,
        1594px 569px #A29CD7, 579px 245px #A29CD7, 1398px 733px #A29CD7, 408px 1352px #A29CD7,
        1774px 120px #A29CD7, 1152px 1370px #A29CD7, 1698px 1810px #A29CD7, 710px 1450px #A29CD7,
        665px 286px #A29CD7, 493px 1720px #A29CD7, 786px 5px #A29CD7, 637px 1140px #A29CD7,
        764px 324px #A29CD7, 927px 310px #A29CD7, 938px 1424px #A29CD7, 1884px 744px #A29CD7,
        913px 462px #A29CD7, 1831px 1936px #A29CD7, 1527px 249px #A29CD7, 36px 1381px #A29CD7,
        1597px 581px #A29CD7, 1530px 355px #A29CD7, 949px 459px #A29CD7, 799px 828px #A29CD7,
        242px 1471px #A29CD7, 654px 797px #A29CD7, 796px 594px #A29CD7, 1365px 678px #A29CD7,
        752px 23px #A29CD7, 1630px 541px #A29CD7, 982px 72px #A29CD7, 1733px 1831px #A29CD7,
        21px 412px #A29CD7, 775px 998px #A29CD7, 335px 1945px #A29CD7, 264px 583px #A29CD7,
        158px 1311px #A29CD7, 528px 164px #A29CD7, 1978px 574px #A29CD7, 717px 1203px #A29CD7,
        734px 1591px #A29CD7, 1555px 820px #A29CD7, 16px 1943px #A29CD7, 1625px 1177px #A29CD7,
        1236px 690px #A29CD7, 1585px 1590px #A29CD7, 1737px 1728px #A29CD7, 721px 698px #A29CD7,
        1804px 1186px #A29CD7, 166px 980px #A29CD7, 1850px 230px #A29CD7, 330px 1712px #A29CD7,
        95px 797px #A29CD7, 1948px 1078px #A29CD7, 469px 939px #A29CD7, 1269px 1899px #A29CD7,
        955px 1220px #A29CD7, 1137px 1075px #A29CD7, 312px 1293px #A29CD7, 986px 1762px #A29CD7,
        1103px 1238px #A29CD7, 428px 1993px #A29CD7, 355px 570px #A29CD7, 977px 1836px #A29CD7,
        1395px 1092px #A29CD7, 276px 913px #A29CD7, 1743px 656px #A29CD7, 773px 502px #A29CD7,
        1686px 1322px #A29CD7, 1516px 1945px #A29CD7, 1334px 501px #A29CD7, 266px 156px #A29CD7,
        455px 655px #A29CD7, 798px 72px #A29CD7, 1059px 1259px #A29CD7, 1402px 1687px #A29CD7,
        236px 1329px #A29CD7, 1455px 786px #A29CD7, 146px 1228px #A29CD7, 1851px 823px #A29CD7,
        1062px 100px #A29CD7, 1220px 953px #A29CD7, 20px 1826px #A29CD7, 36px 1063px #A29CD7,
        1525px 338px #A29CD7, 790px 1521px #A29CD7, 741px 1099px #A29CD7, 288px 1489px #A29CD7,
        700px 1060px #A29CD7, 390px 1071px #A29CD7, 411px 1036px #A29CD7, 1853px 1072px #A29CD7,
        1446px 1085px #A29CD7, 1164px 874px #A29CD7, 924px 925px #A29CD7, 291px 271px #A29CD7,
        1257px 1964px #A29CD7, 1580px 1352px #A29CD7, 1507px 1216px #A29CD7, 211px 956px #A29CD7,
        985px 1195px #A29CD7, 975px 1640px #A29CD7, 518px 101px #A29CD7, 663px 1395px #A29CD7,
        914px 532px #A29CD7, 145px 1320px #A29CD7, 69px 1397px #A29CD7, 982px 523px #A29CD7,
        257px 725px #A29CD7, 1599px 831px #A29CD7, 1636px 1513px #A29CD7, 1250px 1158px #A29CD7,
        1132px 604px #A29CD7, 183px 102px #A29CD7, 1057px 318px #A29CD7, 1247px 1835px #A29CD7,
        1983px 1110px #A29CD7, 1077px 1455px #A29CD7, 921px 1770px #A29CD7, 806px 1350px #A29CD7,
        1938px 1992px #A29CD7, 855px 1260px #A29CD7, 902px 1345px #A29CD7, 658px 1908px #A29CD7,
        1845px 679px #A29CD7, 712px 1482px #A29CD7, 595px 950px #A29CD7, 1784px 1992px #A29CD7,
        1847px 1785px #A29CD7, 691px 1004px #A29CD7, 175px 1179px #A29CD7, 1666px 1911px #A29CD7,
        41px 61px #A29CD7, 971px 1080px #A29CD7, 1830px 1450px #A29CD7, 1351px 1518px #A29CD7,
        1257px 99px #A29CD7, 1395px 1498px #A29CD7, 1117px 252px #A29CD7, 1779px 597px #A29CD7,
        1346px 729px #A29CD7, 1108px 1144px #A29CD7, 402px 691px #A29CD7, 72px 496px #A29CD7,
        1673px 1604px #A29CD7, 1497px 974px #A29CD7, 1865px 1664px #A29CD7, 88px 806px #A29CD7,
        918px 77px #A29CD7, 244px 1118px #A29CD7, 256px 1820px #A29CD7, 1851px 1840px #A29CD7,
        605px 1851px #A29CD7, 634px 383px #A29CD7, 865px 37px #A29CD7, 943px 1024px #A29CD7,
        1951px 177px #A29CD7, 1097px 523px #A29CD7, 985px 1700px #A29CD7, 1243px 122px #A29CD7,
        768px 1070px #A29CD7, 468px 194px #A29CD7, 320px 1867px #A29CD7, 1850px 185px #A29CD7,
        380px 1616px #A29CD7, 468px 1294px #A29CD7, 1122px 1743px #A29CD7, 884px 299px #A29CD7,
        1300px 1917px #A29CD7, 1860px 396px #A29CD7, 1270px 990px #A29CD7, 529px 733px #A29CD7,
        1975px 1347px #A29CD7, 1885px 685px #A29CD7, 226px 506px #A29CD7, 651px 878px #A29CD7,
        1323px 680px #A29CD7, 1284px 680px #A29CD7, 238px 1967px #A29CD7, 911px 174px #A29CD7,
        1111px 521px #A29CD7, 1150px 85px #A29CD7, 794px 502px #A29CD7, 484px 1856px #A29CD7,
        1809px 368px #A29CD7, 112px 953px #A29CD7, 590px 1009px #A29CD7, 1655px 311px #A29CD7,
        100px 1026px #A29CD7, 1803px 352px #A29CD7, 865px 306px #A29CD7, 1077px 1019px #A29CD7,
        1335px 872px #A29CD7, 1647px 1298px #A29CD7, 1233px 1387px #A29CD7, 698px 1036px #A29CD7,
        659px 1860px #A29CD7, 388px 1412px #A29CD7, 1212px 458px #A29CD7, 755px 1468px #A29CD7,
        696px 1654px #A29CD7, 1144px 60px #A29CD7;
}

#stars:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 779px 1331px #A29CD7, 324px 42px #A29CD7, 303px 586px #A29CD7,
        1312px 276px #A29CD7, 451px 625px #A29CD7, 521px 1931px #A29CD7, 1087px 1871px #A29CD7,
        36px 1546px #A29CD7, 132px 934px #A29CD7, 1698px 901px #A29CD7, 1418px 664px #A29CD7,
        1448px 1157px #A29CD7, 1084px 232px #A29CD7, 347px 1776px #A29CD7, 1722px 243px #A29CD7,
        1629px 835px #A29CD7, 479px 969px #A29CD7, 1231px 960px #A29CD7, 586px 384px #A29CD7,
        164px 527px #A29CD7, 8px 646px #A29CD7, 1150px 1126px #A29CD7, 665px 1357px #A29CD7,
        1556px 1982px #A29CD7, 1260px 1961px #A29CD7, 1675px 1741px #A29CD7,
        1843px 1514px #A29CD7, 718px 1628px #A29CD7, 242px 1343px #A29CD7, 1497px 1880px #A29CD7,
        1364px 230px #A29CD7, 1739px 1302px #A29CD7, 636px 959px #A29CD7, 304px 686px #A29CD7,
        614px 751px #A29CD7, 1935px 816px #A29CD7, 1428px 60px #A29CD7, 355px 335px #A29CD7,
        1594px 158px #A29CD7, 90px 60px #A29CD7, 1553px 162px #A29CD7, 1239px 1825px #A29CD7,
        1945px 587px #A29CD7, 749px 1785px #A29CD7, 1987px 1172px #A29CD7, 1301px 1237px #A29CD7,
        1039px 342px #A29CD7, 1585px 1481px #A29CD7, 995px 1048px #A29CD7, 524px 932px #A29CD7,
        214px 413px #A29CD7, 1701px 1300px #A29CD7, 1037px 1613px #A29CD7, 1871px 996px #A29CD7,
        1360px 1635px #A29CD7, 1110px 1313px #A29CD7, 412px 1783px #A29CD7, 1949px 177px #A29CD7,
        903px 1854px #A29CD7, 700px 1936px #A29CD7, 378px 125px #A29CD7, 308px 834px #A29CD7,
        1118px 962px #A29CD7, 1350px 1929px #A29CD7, 781px 1811px #A29CD7, 561px 137px #A29CD7,
        757px 1148px #A29CD7, 1670px 1979px #A29CD7, 343px 739px #A29CD7, 945px 795px #A29CD7,
        576px 1903px #A29CD7, 1078px 1436px #A29CD7, 1583px 450px #A29CD7, 1366px 474px #A29CD7,
        297px 1873px #A29CD7, 192px 162px #A29CD7, 1624px 1633px #A29CD7, 59px 453px #A29CD7,
        82px 1872px #A29CD7, 1933px 498px #A29CD7, 1966px 1974px #A29CD7, 1975px 1688px #A29CD7,
        779px 314px #A29CD7, 1858px 1543px #A29CD7, 73px 1507px #A29CD7, 1693px 975px #A29CD7,
        1683px 108px #A29CD7, 1768px 1654px #A29CD7, 654px 14px #A29CD7, 494px 171px #A29CD7,
        1689px 1895px #A29CD7, 1660px 263px #A29CD7, 1031px 903px #A29CD7, 1203px 1393px #A29CD7,
        1333px 1421px #A29CD7, 1113px 41px #A29CD7, 1206px 1645px #A29CD7, 1325px 1635px #A29CD7,
        142px 388px #A29CD7, 572px 215px #A29CD7, 1535px 296px #A29CD7, 1419px 407px #A29CD7,
        1379px 1003px #A29CD7, 329px 469px #A29CD7, 1791px 1652px #A29CD7, 935px 1802px #A29CD7,
        1330px 1820px #A29CD7, 421px 1933px #A29CD7, 828px 365px #A29CD7, 275px 316px #A29CD7,
        707px 960px #A29CD7, 1605px 1554px #A29CD7, 625px 58px #A29CD7, 717px 1697px #A29CD7,
        1669px 246px #A29CD7, 1925px 322px #A29CD7, 1154px 1803px #A29CD7, 1929px 295px #A29CD7,
        1248px 240px #A29CD7, 1045px 1755px #A29CD7, 166px 942px #A29CD7, 1888px 1773px #A29CD7,
        678px 1963px #A29CD7, 1370px 569px #A29CD7, 1974px 1400px #A29CD7, 1786px 460px #A29CD7,
        51px 307px #A29CD7, 784px 1400px #A29CD7, 730px 1258px #A29CD7, 1712px 393px #A29CD7,
        416px 170px #A29CD7, 1797px 1932px #A29CD7, 572px 219px #A29CD7, 1557px 1856px #A29CD7,
        218px 8px #A29CD7, 348px 1334px #A29CD7, 469px 413px #A29CD7, 385px 1738px #A29CD7,
        1357px 1818px #A29CD7, 240px 942px #A29CD7, 248px 1847px #A29CD7, 1535px 806px #A29CD7,
        236px 1514px #A29CD7, 1429px 1556px #A29CD7, 73px 1633px #A29CD7, 1398px 1121px #A29CD7,
        671px 1301px #A29CD7, 1404px 1663px #A29CD7, 740px 1018px #A29CD7, 1600px 377px #A29CD7,
        785px 514px #A29CD7, 112px 1084px #A29CD7, 1915px 1887px #A29CD7, 1463px 1848px #A29CD7,
        687px 1115px #A29CD7, 1268px 1768px #A29CD7, 1729px 1425px #A29CD7,
        1284px 1022px #A29CD7, 801px 974px #A29CD7, 1975px 1317px #A29CD7, 1354px 834px #A29CD7,
        1446px 1484px #A29CD7, 1283px 1786px #A29CD7, 11px 523px #A29CD7, 1842px 236px #A29CD7,
        1355px 654px #A29CD7, 429px 7px #A29CD7, 1033px 1128px #A29CD7, 157px 297px #A29CD7,
        545px 635px #A29CD7, 52px 1080px #A29CD7, 827px 1520px #A29CD7, 1121px 490px #A29CD7,
        9px 309px #A29CD7, 1744px 1586px #A29CD7, 1014px 417px #A29CD7, 1534px 524px #A29CD7,
        958px 552px #A29CD7, 1403px 1496px #A29CD7, 387px 703px #A29CD7, 1522px 548px #A29CD7,
        1355px 282px #A29CD7, 1532px 601px #A29CD7, 1838px 790px #A29CD7, 290px 259px #A29CD7,
        295px 598px #A29CD7, 1601px 539px #A29CD7, 1561px 1272px #A29CD7, 34px 1922px #A29CD7,
        1024px 543px #A29CD7, 467px 369px #A29CD7, 722px 333px #A29CD7, 1976px 1255px #A29CD7,
        766px 983px #A29CD7, 1582px 1285px #A29CD7, 12px 512px #A29CD7, 617px 1410px #A29CD7,
        682px 577px #A29CD7, 1334px 1438px #A29CD7, 439px 327px #A29CD7, 1617px 1661px #A29CD7,
        673px 129px #A29CD7, 794px 941px #A29CD7, 1386px 1902px #A29CD7, 37px 1353px #A29CD7,
        1467px 1353px #A29CD7, 416px 18px #A29CD7, 187px 344px #A29CD7, 200px 1898px #A29CD7,
        1491px 1619px #A29CD7, 811px 347px #A29CD7, 924px 1827px #A29CD7, 945px 217px #A29CD7,
        1735px 1228px #A29CD7, 379px 1890px #A29CD7, 79px 761px #A29CD7, 825px 1837px #A29CD7,
        1980px 1558px #A29CD7, 1308px 1573px #A29CD7, 1488px 1726px #A29CD7,
        382px 1208px #A29CD7, 522px 595px #A29CD7, 1277px 1898px #A29CD7, 354px 552px #A29CD7,
        161px 1784px #A29CD7, 614px 251px #A29CD7, 526px 1576px #A29CD7, 17px 212px #A29CD7,
        179px 996px #A29CD7, 467px 1208px #A29CD7, 1944px 1838px #A29CD7, 1140px 1093px #A29CD7,
        858px 1007px #A29CD7, 200px 1064px #A29CD7, 423px 1964px #A29CD7, 1945px 439px #A29CD7,
        1377px 689px #A29CD7, 1120px 1437px #A29CD7, 1876px 668px #A29CD7, 907px 1324px #A29CD7,
        343px 1976px #A29CD7, 1816px 1501px #A29CD7, 1849px 177px #A29CD7, 647px 91px #A29CD7,
        1984px 1012px #A29CD7, 1336px 1300px #A29CD7, 128px 648px #A29CD7, 305px 1060px #A29CD7,
        1324px 826px #A29CD7, 1263px 1314px #A29CD7, 1801px 629px #A29CD7, 1614px 1555px #A29CD7,
        1634px 90px #A29CD7, 1603px 452px #A29CD7, 891px 1984px #A29CD7, 1556px 1906px #A29CD7,
        121px 68px #A29CD7, 1676px 1714px #A29CD7, 516px 936px #A29CD7, 1947px 1492px #A29CD7,
        1455px 1519px #A29CD7, 45px 602px #A29CD7, 205px 1039px #A29CD7, 793px 172px #A29CD7,
        1562px 1739px #A29CD7, 1056px 110px #A29CD7, 1512px 379px #A29CD7, 1795px 1621px #A29CD7,
        1848px 607px #A29CD7, 262px 1719px #A29CD7, 477px 991px #A29CD7, 483px 883px #A29CD7,
        1239px 1197px #A29CD7, 1496px 647px #A29CD7, 1649px 25px #A29CD7, 1491px 1946px #A29CD7,
        119px 996px #A29CD7, 179px 1472px #A29CD7, 1341px 808px #A29CD7, 1565px 1700px #A29CD7,
        407px 1544px #A29CD7, 1754px 357px #A29CD7, 1288px 981px #A29CD7, 902px 1997px #A29CD7,
        1755px 1668px #A29CD7, 186px 877px #A29CD7, 1202px 1882px #A29CD7, 461px 1213px #A29CD7,
        1400px 748px #A29CD7, 1969px 1899px #b474cd, 809px 522px #A29CD7, 514px 1219px #A29CD7,
        374px 275px #A29CD7, 938px 1973px #A29CD7, 357px 552px #A29CD7, 144px 1722px #A29CD7,
        1572px 912px #A29CD7, 402px 1858px #A29CD7, 1544px 1195px #A29CD7, 667px 1257px #A29CD7,
        727px 1496px #A29CD7, 993px 232px #A29CD7, 1772px 313px #A29CD7, 1040px 1590px #A29CD7,
        1204px 1973px #A29CD7, 1268px 79px #A29CD7, 1555px 1048px #A29CD7, 986px 1707px #A29CD7,
        978px 1710px #A29CD7, 713px 360px #A29CD7, 407px 863px #A29CD7, 461px 736px #A29CD7,
        284px 1608px #A29CD7, 103px 430px #A29CD7, 1283px 1319px #A29CD7, 977px 1186px #A29CD7,
        1966px 1516px #A29CD7, 1287px 1129px #A29CD7, 70px 1098px #A29CD7, 1189px 889px #A29CD7,
        1126px 1734px #A29CD7, 309px 1292px #A29CD7, 879px 764px #A29CD7, 65px 473px #A29CD7,
        1003px 1959px #A29CD7, 658px 791px #A29CD7, 402px 1576px #A29CD7, 35px 622px #A29CD7,
        529px 1589px #A29CD7, 164px 666px #A29CD7, 1876px 1290px #A29CD7, 1541px 526px #A29CD7,
        270px 1297px #A29CD7, 440px 865px #A29CD7, 1500px 802px #A29CD7, 182px 1754px #A29CD7,
        1264px 892px #A29CD7, 272px 1249px #A29CD7, 1289px 1535px #A29CD7, 190px 1646px #A29CD7,
        955px 242px #A29CD7, 1456px 1597px #A29CD7, 1727px 1983px #A29CD7, 635px 801px #A29CD7,
        226px 455px #A29CD7, 1396px 1710px #A29CD7, 849px 1863px #A29CD7, 237px 1264px #A29CD7,
        839px 140px #A29CD7, 1122px 735px #A29CD7, 1280px 15px #A29CD7, 1318px 242px #A29CD7,
        1819px 1148px #A29CD7, 333px 1392px #A29CD7, 1949px 553px #A29CD7, 1878px 1332px #A29CD7,
        467px 548px #A29CD7, 1812px 1082px #A29CD7, 1067px 193px #A29CD7, 243px 156px #A29CD7,
        483px 1616px #A29CD7, 1714px 933px #A29CD7, 759px 1800px #A29CD7, 1822px 995px #A29CD7,
        1877px 572px #A29CD7, 581px 1084px #A29CD7, 107px 732px #A29CD7, 642px 1837px #A29CD7,
        166px 1493px #A29CD7, 1555px 198px #A29CD7, 819px 307px #A29CD7, 947px 345px #A29CD7,
        827px 224px #A29CD7, 927px 1394px #A29CD7, 540px 467px #A29CD7, 1093px 405px #A29CD7,
        1140px 927px #A29CD7, 130px 529px #A29CD7, 33px 1980px #A29CD7, 1147px 1663px #A29CD7,
        1616px 1436px #A29CD7, 528px 710px #A29CD7, 798px 1100px #A29CD7, 505px 1480px #A29CD7,
        899px 641px #A29CD7, 1909px 1949px #A29CD7, 1311px 964px #A29CD7, 979px 1301px #A29CD7,
        1393px 969px #A29CD7, 1793px 1886px #A29CD7, 292px 357px #A29CD7, 1196px 1718px #A29CD7,
        1290px 1994px #A29CD7, 537px 1973px #A29CD7, 1181px 1674px #A29CD7,
        1740px 1566px #A29CD7, 1307px 265px #A29CD7, 922px 522px #A29CD7, 1892px 472px #A29CD7,
        384px 1746px #A29CD7, 392px 1098px #A29CD7, 647px 548px #A29CD7, 390px 1498px #A29CD7,
        1246px 138px #A29CD7, 730px 876px #A29CD7, 192px 1472px #A29CD7, 1790px 1789px #A29CD7,
        928px 311px #A29CD7, 1253px 1647px #A29CD7, 747px 1921px #A29CD7, 1561px 1025px #A29CD7,
        1533px 1292px #A29CD7, 1985px 195px #A29CD7, 728px 729px #A29CD7, 1712px 1936px #A29CD7,
        512px 1717px #A29CD7, 1528px 483px #A29CD7, 313px 1642px #A29CD7, 281px 1849px #A29CD7,
        1212px 799px #A29CD7, 435px 1191px #A29CD7, 1422px 611px #A29CD7, 1718px 1964px #A29CD7,
        411px 944px #A29CD7, 210px 636px #A29CD7, 1502px 1295px #A29CD7, 1434px 349px #A29CD7,
        769px 60px #A29CD7, 747px 1053px #A29CD7, 789px 504px #A29CD7, 1436px 1264px #A29CD7,
        1893px 1225px #A29CD7, 1394px 1788px #A29CD7, 1108px 1317px #A29CD7,
        1673px 1395px #A29CD7, 854px 1010px #A29CD7, 1705px 80px #A29CD7, 1858px 148px #A29CD7,
        1729px 344px #A29CD7, 1388px 664px #A29CD7, 895px 406px #A29CD7, 1479px 157px #A29CD7,
        1441px 1157px #A29CD7, 552px 1900px #A29CD7, 516px 364px #A29CD7, 1647px 189px #A29CD7,
        1427px 1071px #A29CD7, 785px 729px #A29CD7, 1080px 1710px #A29CD7, 504px 204px #A29CD7,
        1177px 1622px #A29CD7, 657px 34px #A29CD7, 1296px 1099px #A29CD7, 248px 180px #A29CD7,
        1212px 1568px #A29CD7, 667px 1562px #A29CD7, 695px 841px #A29CD7, 1608px 1247px #A29CD7,
        751px 882px #A29CD7, 87px 167px #A29CD7, 607px 1368px #A29CD7, 1363px 1203px #A29CD7,
        1836px 317px #A29CD7, 1668px 1703px #A29CD7, 830px 1154px #A29CD7, 1721px 1398px #A29CD7,
        1601px 1280px #A29CD7, 976px 874px #A29CD7, 1743px 254px #A29CD7, 1020px 1815px #A29CD7,
        1670px 1766px #A29CD7, 1890px 735px #A29CD7, 1379px 136px #A29CD7, 1864px 695px #A29CD7,
        206px 965px #A29CD7, 1404px 1932px #A29CD7, 1923px 1360px #A29CD7, 247px 682px #A29CD7,
        519px 1708px #A29CD7, 645px 750px #A29CD7, 1164px 1204px #A29CD7, 834px 323px #A29CD7,
        172px 1350px #A29CD7, 213px 972px #A29CD7, 1837px 190px #A29CD7, 285px 1806px #A29CD7,
        1047px 1299px #A29CD7, 1548px 825px #A29CD7, 1730px 324px #A29CD7, 1346px 1909px #A29CD7,
        772px 270px #A29CD7, 345px 1190px #A29CD7, 478px 1433px #A29CD7, 1479px 25px #A29CD7,
        1994px 1830px #A29CD7, 1744px 732px #A29CD7, 20px 1635px #A29CD7, 690px 1795px #A29CD7,
        1594px 569px #A29CD7, 579px 245px #A29CD7, 1398px 733px #A29CD7, 408px 1352px #A29CD7,
        1774px 120px #A29CD7, 1152px 1370px #A29CD7, 1698px 1810px #A29CD7, 710px 1450px #A29CD7,
        665px 286px #A29CD7, 493px 1720px #A29CD7, 786px 5px #A29CD7, 637px 1140px #A29CD7,
        764px 324px #A29CD7, 927px 310px #A29CD7, 938px 1424px #A29CD7, 1884px 744px #A29CD7,
        913px 462px #A29CD7, 1831px 1936px #A29CD7, 1527px 249px #A29CD7, 36px 1381px #A29CD7,
        1597px 581px #A29CD7, 1530px 355px #A29CD7, 949px 459px #A29CD7, 799px 828px #A29CD7,
        242px 1471px #A29CD7, 654px 797px #A29CD7, 796px 594px #A29CD7, 1365px 678px #A29CD7,
        752px 23px #A29CD7, 1630px 541px #A29CD7, 982px 72px #A29CD7, 1733px 1831px #A29CD7,
        21px 412px #A29CD7, 775px 998px #A29CD7, 335px 1945px #A29CD7, 264px 583px #A29CD7,
        158px 1311px #A29CD7, 528px 164px #A29CD7, 1978px 574px #A29CD7, 717px 1203px #A29CD7,
        734px 1591px #A29CD7, 1555px 820px #A29CD7, 16px 1943px #A29CD7, 1625px 1177px #A29CD7,
        1236px 690px #A29CD7, 1585px 1590px #A29CD7, 1737px 1728px #A29CD7, 721px 698px #A29CD7,
        1804px 1186px #A29CD7, 166px 980px #A29CD7, 1850px 230px #A29CD7, 330px 1712px #A29CD7,
        95px 797px #A29CD7, 1948px 1078px #A29CD7, 469px 939px #A29CD7, 1269px 1899px #A29CD7,
        955px 1220px #A29CD7, 1137px 1075px #A29CD7, 312px 1293px #A29CD7, 986px 1762px #A29CD7,
        1103px 1238px #A29CD7, 428px 1993px #A29CD7, 355px 570px #A29CD7, 977px 1836px #A29CD7,
        1395px 1092px #A29CD7, 276px 913px #A29CD7, 1743px 656px #A29CD7, 773px 502px #A29CD7,
        1686px 1322px #A29CD7, 1516px 1945px #A29CD7, 1334px 501px #A29CD7, 266px 156px #A29CD7,
        455px 655px #A29CD7, 798px 72px #A29CD7, 1059px 1259px #A29CD7, 1402px 1687px #A29CD7,
        236px 1329px #A29CD7, 1455px 786px #A29CD7, 146px 1228px #A29CD7, 1851px 823px #A29CD7,
        1062px 100px #A29CD7, 1220px 953px #A29CD7, 20px 1826px #A29CD7, 36px 1063px #A29CD7,
        1525px 338px #A29CD7, 790px 1521px #A29CD7, 741px 1099px #A29CD7, 288px 1489px #A29CD7,
        700px 1060px #A29CD7, 390px 1071px #A29CD7, 411px 1036px #A29CD7, 1853px 1072px #A29CD7,
        1446px 1085px #A29CD7, 1164px 874px #A29CD7, 924px 925px #A29CD7, 291px 271px #A29CD7,
        1257px 1964px #A29CD7, 1580px 1352px #A29CD7, 1507px 1216px #A29CD7, 211px 956px #A29CD7,
        985px 1195px #A29CD7, 975px 1640px #A29CD7, 518px 101px #A29CD7, 663px 1395px #A29CD7,
        914px 532px #A29CD7, 145px 1320px #A29CD7, 69px 1397px #A29CD7, 982px 523px #A29CD7,
        257px 725px #A29CD7, 1599px 831px #A29CD7, 1636px 1513px #A29CD7, 1250px 1158px #A29CD7,
        1132px 604px #A29CD7, 183px 102px #A29CD7, 1057px 318px #A29CD7, 1247px 1835px #A29CD7,
        1983px 1110px #A29CD7, 1077px 1455px #A29CD7, 921px 1770px #A29CD7, 806px 1350px #A29CD7,
        1938px 1992px #A29CD7, 855px 1260px #A29CD7, 902px 1345px #A29CD7, 658px 1908px #A29CD7,
        1845px 679px #A29CD7, 712px 1482px #A29CD7, 595px 950px #A29CD7, 1784px 1992px #A29CD7,
        1847px 1785px #A29CD7, 691px 1004px #A29CD7, 175px 1179px #A29CD7, 1666px 1911px #A29CD7,
        41px 61px #A29CD7, 971px 1080px #A29CD7, 1830px 1450px #A29CD7, 1351px 1518px #A29CD7,
        1257px 99px #A29CD7, 1395px 1498px #A29CD7, 1117px 252px #A29CD7, 1779px 597px #A29CD7,
        1346px 729px #A29CD7, 1108px 1144px #A29CD7, 402px 691px #A29CD7, 72px 496px #A29CD7,
        1673px 1604px #A29CD7, 1497px 974px #A29CD7, 1865px 1664px #A29CD7, 88px 806px #A29CD7,
        918px 77px #A29CD7, 244px 1118px #A29CD7, 256px 1820px #A29CD7, 1851px 1840px #A29CD7,
        605px 1851px #A29CD7, 634px 383px #A29CD7, 865px 37px #A29CD7, 943px 1024px #A29CD7,
        1951px 177px #A29CD7, 1097px 523px #A29CD7, 985px 1700px #A29CD7, 1243px 122px #A29CD7,
        768px 1070px #A29CD7, 468px 194px #A29CD7, 320px 1867px #A29CD7, 1850px 185px #A29CD7,
        380px 1616px #A29CD7, 468px 1294px #A29CD7, 1122px 1743px #A29CD7, 884px 299px #A29CD7,
        1300px 1917px #A29CD7, 1860px 396px #A29CD7, 1270px 990px #A29CD7, 529px 733px #A29CD7,
        1975px 1347px #A29CD7, 1885px 685px #A29CD7, 226px 506px #A29CD7, 651px 878px #A29CD7,
        1323px 680px #A29CD7, 1284px 680px #A29CD7, 238px 1967px #A29CD7, 911px 174px #A29CD7,
        1111px 521px #A29CD7, 1150px 85px #A29CD7, 794px 502px #A29CD7, 484px 1856px #A29CD7,
        1809px 368px #A29CD7, 112px 953px #A29CD7, 590px 1009px #A29CD7, 1655px 311px #A29CD7,
        100px 1026px #A29CD7, 1803px 352px #A29CD7, 865px 306px #A29CD7, 1077px 1019px #A29CD7,
        1335px 872px #A29CD7, 1647px 1298px #A29CD7, 1233px 1387px #A29CD7, 698px 1036px #A29CD7,
        659px 1860px #A29CD7, 388px 1412px #A29CD7, 1212px 458px #A29CD7, 755px 1468px #A29CD7,
        696px 1654px #A29CD7, 1144px 60px #A29CD7;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 100s linear infinite;
    box-shadow: 1448px 320px #A29CD7, 1775px 1663px #A29CD7, 332px 1364px #A29CD7,
        878px 340px #A29CD7, 569px 1832px #A29CD7, 1422px 1684px #A29CD7, 1946px 1907px #A29CD7,
        121px 979px #A29CD7, 1044px 1069px #A29CD7, 463px 381px #A29CD7, 423px 112px #A29CD7,
        523px 1179px #A29CD7, 779px 654px #A29CD7, 1398px 694px #A29CD7, 1085px 1464px #A29CD7,
        1599px 1869px #A29CD7, 801px 1882px #A29CD7, 779px 1231px #A29CD7, 552px 932px #A29CD7,
        1057px 1196px #A29CD7, 282px 1280px #A29CD7, 496px 1986px #A29CD7, 1833px 1120px #A29CD7,
        1802px 1293px #A29CD7, 6px 1696px #A29CD7, 412px 1902px #A29CD7, 605px 438px #A29CD7,
        24px 1212px #A29CD7, 234px 1320px #A29CD7, 544px 344px #A29CD7, 1107px 170px #A29CD7,
        1603px 196px #A29CD7, 905px 648px #A29CD7, 68px 1458px #A29CD7, 649px 1969px #A29CD7,
        744px 675px #A29CD7, 1127px 478px #A29CD7, 714px 1814px #A29CD7, 1486px 526px #A29CD7,
        270px 1636px #A29CD7, 1931px 149px #A29CD7, 1807px 378px #A29CD7, 8px 390px #A29CD7,
        1415px 699px #A29CD7, 1473px 1211px #A29CD7, 1590px 141px #A29CD7, 270px 1705px #A29CD7,
        69px 1423px #A29CD7, 1108px 1053px #A29CD7, 1946px 128px #A29CD7, 371px 371px #A29CD7,
        1490px 220px #A29CD7, 357px 1885px #A29CD7, 363px 363px #A29CD7, 1896px 1256px #A29CD7,
        1979px 1050px #A29CD7, 947px 1342px #A29CD7, 1754px 242px #A29CD7, 514px 974px #A29CD7,
        65px 1477px #A29CD7, 1840px 547px #A29CD7, 950px 695px #A29CD7, 459px 1150px #A29CD7,
        1124px 1502px #A29CD7, 481px 940px #A29CD7, 680px 839px #A29CD7, 797px 1169px #A29CD7,
        1977px 1491px #A29CD7, 734px 1724px #A29CD7, 210px 298px #A29CD7, 816px 628px #A29CD7,
        686px 770px #A29CD7, 1721px 267px #A29CD7, 1663px 511px #A29CD7, 1481px 1141px #A29CD7,
        582px 248px #A29CD7, 1308px 953px #A29CD7, 628px 657px #A29CD7, 897px 1535px #A29CD7,
        270px 931px #A29CD7, 791px 467px #A29CD7, 1336px 1732px #A29CD7, 1013px 1653px #A29CD7,
        1911px 956px #A29CD7, 587px 816px #A29CD7, 83px 456px #A29CD7, 930px 1478px #A29CD7,
        1587px 1694px #A29CD7, 614px 1200px #A29CD7, 302px 1782px #A29CD7, 1711px 1432px #A29CD7,
        443px 904px #A29CD7, 1666px 714px #A29CD7, 1588px 1167px #A29CD7, 273px 1075px #A29CD7,
        1679px 461px #A29CD7, 721px 664px #A29CD7, 1202px 10px #A29CD7, 166px 1126px #A29CD7,
        331px 1628px #A29CD7, 430px 1565px #A29CD7, 1585px 509px #A29CD7, 640px 38px #A29CD7,
        822px 837px #A29CD7, 1760px 1664px #A29CD7, 1122px 1458px #A29CD7, 398px 131px #A29CD7,
        689px 285px #A29CD7, 460px 652px #A29CD7, 1627px 365px #A29CD7, 348px 1648px #A29CD7,
        819px 1946px #A29CD7, 981px 1917px #A29CD7, 323px 76px #A29CD7, 979px 684px #A29CD7,
        887px 536px #A29CD7, 1348px 1596px #A29CD7, 1055px 666px #A29CD7, 1402px 1797px #A29CD7,
        1300px 1055px #A29CD7, 937px 238px #A29CD7, 1474px 1815px #A29CD7, 1144px 1710px #A29CD7,
        1629px 1087px #A29CD7, 911px 919px #A29CD7, 771px 819px #A29CD7, 403px 720px #A29CD7,
        163px 736px #A29CD7, 1062px 238px #A29CD7, 1774px 818px #A29CD7, 1874px 1178px #A29CD7,
        1177px 699px #A29CD7, 1244px 1244px #A29CD7, 1371px 58px #A29CD7, 564px 1515px #A29CD7,
        1824px 487px #A29CD7, 929px 702px #A29CD7, 394px 1348px #A29CD7, 1161px 641px #A29CD7,
        219px 1841px #A29CD7, 358px 941px #A29CD7, 140px 1759px #A29CD7, 1019px 1345px #A29CD7,
        274px 436px #A29CD7, 1433px 1605px #A29CD7, 1798px 1426px #A29CD7, 294px 1848px #A29CD7,
        1681px 1877px #A29CD7, 1344px 1824px #A29CD7, 1439px 1632px #A29CD7,
        161px 1012px #A29CD7, 1308px 588px #A29CD7, 1789px 582px #A29CD7, 721px 1910px #A29CD7,
        318px 218px #A29CD7, 607px 319px #A29CD7, 495px 535px #A29CD7, 1552px 1575px #A29CD7,
        1562px 67px #A29CD7, 403px 926px #A29CD7, 1096px 1800px #A29CD7, 1814px 1709px #A29CD7,
        1882px 1831px #A29CD7, 533px 46px #A29CD7, 823px 969px #A29CD7, 530px 165px #A29CD7,
        1030px 352px #A29CD7, 1681px 313px #A29CD7, 338px 115px #A29CD7, 1607px 211px #A29CD7,
        1718px 1184px #A29CD7, 1589px 659px #A29CD7, 278px 355px #A29CD7, 464px 1464px #A29CD7,
        1165px 277px #A29CD7, 950px 694px #A29CD7, 1746px 293px #A29CD7, 793px 911px #A29CD7,
        528px 773px #A29CD7, 1883px 1694px #A29CD7, 748px 182px #A29CD7, 1924px 1531px #A29CD7,
        100px 636px #A29CD7, 1473px 1445px #A29CD7, 1264px 1244px #A29CD7, 850px 1377px #A29CD7,
        987px 1976px #A29CD7, 933px 1761px #A29CD7, 922px 1270px #A29CD7, 500px 396px #A29CD7,
        1324px 8px #A29CD7, 1967px 1814px #A29CD7, 1072px 1401px #A29CD7, 961px 37px #A29CD7,
        156px 81px #A29CD7, 1915px 502px #A29CD7, 1076px 1846px #A29CD7, 152px 1669px #A29CD7,
        986px 1529px #A29CD7, 1667px 1137px #A29CD7;
}

#stars2:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1448px 320px #A29CD7, 1775px 1663px #A29CD7, 332px 1364px #A29CD7,
        878px 340px #A29CD7, 569px 1832px #A29CD7, 1422px 1684px #A29CD7, 1946px 1907px #A29CD7,
        121px 979px #A29CD7, 1044px 1069px #A29CD7, 463px 381px #A29CD7, 423px 112px #A29CD7,
        523px 1179px #A29CD7, 779px 654px #A29CD7, 1398px 694px #A29CD7, 1085px 1464px #A29CD7,
        1599px 1869px #A29CD7, 801px 1882px #A29CD7, 779px 1231px #A29CD7, 552px 932px #A29CD7,
        1057px 1196px #A29CD7, 282px 1280px #A29CD7, 496px 1986px #A29CD7, 1833px 1120px #A29CD7,
        1802px 1293px #A29CD7, 6px 1696px #A29CD7, 412px 1902px #A29CD7, 605px 438px #A29CD7,
        24px 1212px #A29CD7, 234px 1320px #A29CD7, 544px 344px #A29CD7, 1107px 170px #A29CD7,
        1603px 196px #A29CD7, 905px 648px #A29CD7, 68px 1458px #A29CD7, 649px 1969px #A29CD7,
        744px 675px #A29CD7, 1127px 478px #A29CD7, 714px 1814px #A29CD7, 1486px 526px #A29CD7,
        270px 1636px #A29CD7, 1931px 149px #A29CD7, 1807px 378px #A29CD7, 8px 390px #A29CD7,
        1415px 699px #A29CD7, 1473px 1211px #A29CD7, 1590px 141px #A29CD7, 270px 1705px #A29CD7,
        69px 1423px #A29CD7, 1108px 1053px #A29CD7, 1946px 128px #A29CD7, 371px 371px #A29CD7,
        1490px 220px #A29CD7, 357px 1885px #A29CD7, 363px 363px #A29CD7, 1896px 1256px #A29CD7,
        1979px 1050px #A29CD7, 947px 1342px #A29CD7, 1754px 242px #A29CD7, 514px 974px #A29CD7,
        65px 1477px #A29CD7, 1840px 547px #A29CD7, 950px 695px #A29CD7, 459px 1150px #A29CD7,
        1124px 1502px #A29CD7, 481px 940px #A29CD7, 680px 839px #A29CD7, 797px 1169px #A29CD7,
        1977px 1491px #A29CD7, 734px 1724px #A29CD7, 210px 298px #A29CD7, 816px 628px #A29CD7,
        686px 770px #A29CD7, 1721px 267px #A29CD7, 1663px 511px #A29CD7, 1481px 1141px #A29CD7,
        582px 248px #A29CD7, 1308px 953px #A29CD7, 628px 657px #A29CD7, 897px 1535px #A29CD7,
        270px 931px #A29CD7, 791px 467px #A29CD7, 1336px 1732px #A29CD7, 1013px 1653px #A29CD7,
        1911px 956px #A29CD7, 587px 816px #A29CD7, 83px 456px #A29CD7, 930px 1478px #A29CD7,
        1587px 1694px #A29CD7, 614px 1200px #A29CD7, 302px 1782px #A29CD7, 1711px 1432px #A29CD7,
        443px 904px #A29CD7, 1666px 714px #A29CD7, 1588px 1167px #A29CD7, 273px 1075px #A29CD7,
        1679px 461px #A29CD7, 721px 664px #A29CD7, 1202px 10px #A29CD7, 166px 1126px #A29CD7,
        331px 1628px #A29CD7, 430px 1565px #A29CD7, 1585px 509px #A29CD7, 640px 38px #A29CD7,
        822px 837px #A29CD7, 1760px 1664px #A29CD7, 1122px 1458px #A29CD7, 398px 131px #A29CD7,
        689px 285px #A29CD7, 460px 652px #A29CD7, 1627px 365px #A29CD7, 348px 1648px #A29CD7,
        819px 1946px #A29CD7, 981px 1917px #A29CD7, 323px 76px #A29CD7, 979px 684px #A29CD7,
        887px 536px #A29CD7, 1348px 1596px #A29CD7, 1055px 666px #A29CD7, 1402px 1797px #A29CD7,
        1300px 1055px #A29CD7, 937px 238px #A29CD7, 1474px 1815px #A29CD7, 1144px 1710px #A29CD7,
        1629px 1087px #A29CD7, 911px 919px #A29CD7, 771px 819px #A29CD7, 403px 720px #A29CD7,
        163px 736px #A29CD7, 1062px 238px #A29CD7, 1774px 818px #A29CD7, 1874px 1178px #A29CD7,
        1177px 699px #A29CD7, 1244px 1244px #A29CD7, 1371px 58px #A29CD7, 564px 1515px #A29CD7,
        1824px 487px #A29CD7, 929px 702px #A29CD7, 394px 1348px #A29CD7, 1161px 641px #A29CD7,
        219px 1841px #A29CD7, 358px 941px #A29CD7, 140px 1759px #A29CD7, 1019px 1345px #A29CD7,
        274px 436px #A29CD7, 1433px 1605px #A29CD7, 1798px 1426px #A29CD7, 294px 1848px #A29CD7,
        1681px 1877px #A29CD7, 1344px 1824px #A29CD7, 1439px 1632px #A29CD7,
        161px 1012px #A29CD7, 1308px 588px #A29CD7, 1789px 582px #A29CD7, 721px 1910px #A29CD7,
        318px 218px #A29CD7, 607px 319px #A29CD7, 495px 535px #A29CD7, 1552px 1575px #A29CD7,
        1562px 67px #A29CD7, 403px 926px #A29CD7, 1096px 1800px #A29CD7, 1814px 1709px #A29CD7,
        1882px 1831px #A29CD7, 533px 46px #A29CD7, 823px 969px #A29CD7, 530px 165px #A29CD7,
        1030px 352px #A29CD7, 1681px 313px #A29CD7, 338px 115px #A29CD7, 1607px 211px #A29CD7,
        1718px 1184px #A29CD7, 1589px 659px #A29CD7, 278px 355px #A29CD7, 464px 1464px #A29CD7,
        1165px 277px #A29CD7, 950px 694px #A29CD7, 1746px 293px #A29CD7, 793px 911px #A29CD7,
        528px 773px #A29CD7, 1883px 1694px #A29CD7, 748px 182px #A29CD7, 1924px 1531px #A29CD7,
        100px 636px #A29CD7, 1473px 1445px #A29CD7, 1264px 1244px #A29CD7, 850px 1377px #A29CD7,
        987px 1976px #A29CD7, 933px 1761px #A29CD7, 922px 1270px #A29CD7, 500px 396px #A29CD7,
        1324px 8px #A29CD7, 1967px 1814px #A29CD7, 1072px 1401px #A29CD7, 961px 37px #A29CD7,
        156px 81px #A29CD7, 1915px 502px #A29CD7, 1076px 1846px #A29CD7, 152px 1669px #A29CD7,
        986px 1529px #A29CD7, 1667px 1137px #A29CD7;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 150s linear infinte;
    box-shadow: 387px 1878px #A29CD7, 760px 1564px #b474cd, 1487px 999px #A29CD7,
        948px 1828px #A29CD7, 1977px 1001px #b474cd, 1284px 1963px #A29CD7, 656px 284px #A29CD7,
        1268px 1635px #A29CD7, 1820px 598px #b474cd, 642px 1900px #A29CD7, 296px 57px #A29CD7,
        921px 1620px #A29CD7, 476px 1858px #b474cd, 658px 613px #A29CD7, 1171px 1363px #A29CD7,
        1419px 283px #A29CD7, 1037px 731px #b474cd, 503px 663px #A29CD7, 1562px 463px #A29CD7,
        383px 1197px #A29CD7, 1171px 1233px #b474cd, 876px 1768px #A29CD7, 856px 1615px #A29CD7,
        1375px 1924px #A29CD7, 1725px 918px #b474cd, 952px 119px #A29CD7, 768px 1212px #A29CD7,
        992px 1462px #A29CD7, 1929px 717px #b474cd, 1947px 755px #A29CD7, 1818px 1123px #A29CD7,
        1896px 1672px #A29CD7, 460px 198px #b474cd, 256px 271px #A29CD7, 752px 544px #A29CD7,
        1222px 1859px #A29CD7, 1851px 443px #b474cd, 313px 1858px #A29CD7, 709px 446px #A29CD7,
        1546px 697px #A29CD7, 674px 1155px #b474cd, 1112px 130px #A29CD7, 355px 1790px #A29CD7,
        1496px 974px #A29CD7, 1696px 480px #b474cd, 1316px 1265px #A29CD7, 1645px 1063px #A29CD7,
        1182px 237px #A29CD7, 427px 1582px #b474cd, 859px 253px #A29CD7, 458px 939px #A29CD7,
        1517px 1644px #A29CD7, 1943px 60px #b474cd, 212px 1650px #A29CD7, 966px 1786px #A29CD7,
        473px 712px #A29CD7, 130px 76px #b474cd, 1417px 1186px #A29CD7, 909px 1580px #A29CD7,
        1913px 762px #A29CD7, 204px 1143px #b474cd, 1998px 1057px #A29CD7, 1468px 1301px #A29CD7,
        144px 1676px #A29CD7, 21px 1601px #b474cd, 382px 1362px #A29CD7, 912px 753px #A29CD7,
        1488px 1405px #A29CD7, 802px 156px #b474cd, 174px 550px #A29CD7, 338px 1366px #A29CD7,
        1197px 774px #A29CD7, 602px 486px #b474cd, 682px 1877px #A29CD7, 348px 1503px #A29CD7,
        407px 1139px #A29CD7, 950px 1400px #b474cd, 922px 1139px #A29CD7, 1697px 293px #A29CD7,
        1238px 1281px #A29CD7, 1038px 1197px #b474cd, 376px 1889px #A29CD7,
        1255px 1680px #A29CD7, 1008px 1316px #b474cd, 1538px 1447px #A29CD7,
        1186px 874px #A29CD7, 1967px 640px #b474cd, 1341px 19px #A29CD7, 29px 1732px #A29CD7,
        16px 1650px #A29CD7, 1021px 1075px #b474cd, 723px 424px #A29CD7, 1175px 41px #A29CD7,
        494px 1957px #A29CD7, 1296px 431px #b474cd, 175px 1507px #A29CD7, 831px 121px #A29CD7,
        498px 1947px #A29CD7, 617px 880px #b474cd, 240px 403px #A29CD7;
}

#stars3:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 387px 1878px #A29CD7, 760px 1564px #b474cd, 1487px 999px #A29CD7,
        948px 1828px #A29CD7, 1977px 1001px #b474cd, 1284px 1963px #A29CD7, 656px 284px #A29CD7,
        1268px 1635px #A29CD7, 1820px 598px #b474cd, 642px 1900px #A29CD7, 296px 57px #A29CD7,
        921px 1620px #A29CD7, 476px 1858px #b474cd, 658px 613px #A29CD7, 1171px 1363px #A29CD7,
        1419px 283px #A29CD7, 1037px 731px #b474cd, 503px 663px #A29CD7, 1562px 463px #A29CD7,
        383px 1197px #A29CD7, 1171px 1233px #b474cd, 876px 1768px #A29CD7, 856px 1615px #A29CD7,
        1375px 1924px #A29CD7, 1725px 918px #b474cd, 952px 119px #A29CD7, 768px 1212px #A29CD7,
        992px 1462px #A29CD7, 1929px 717px #b474cd, 1947px 755px #A29CD7, 1818px 1123px #A29CD7,
        1896px 1672px #A29CD7, 460px 198px #b474cd, 256px 271px #A29CD7, 752px 544px #A29CD7,
        1222px 1859px #A29CD7, 1851px 443px #b474cd, 313px 1858px #A29CD7, 709px 446px #A29CD7,
        1546px 697px #A29CD7, 674px 1155px #b474cd, 1112px 130px #A29CD7, 355px 1790px #A29CD7,
        1496px 974px #A29CD7, 1696px 480px #b474cd, 1316px 1265px #A29CD7, 1645px 1063px #A29CD7,
        1182px 237px #A29CD7, 427px 1582px #b474cd, 859px 253px #A29CD7, 458px 939px #A29CD7,
        1517px 1644px #A29CD7, 1943px 60px #b474cd, 212px 1650px #A29CD7, 966px 1786px #A29CD7,
        473px 712px #A29CD7, 130px 76px #b474cd, 1417px 1186px #A29CD7, 909px 1580px #A29CD7,
        1913px 762px #A29CD7, 204px 1143px #b474cd, 1998px 1057px #A29CD7, 1468px 1301px #A29CD7,
        144px 1676px #A29CD7, 21px 1601px #b474cd, 382px 1362px #A29CD7, 912px 753px #A29CD7,
        1488px 1405px #A29CD7, 802px 156px #b474cd, 174px 550px #A29CD7, 338px 1366px #A29CD7,
        1197px 774px #A29CD7, 602px 486px #b474cd, 682px 1877px #A29CD7, 348px 1503px #A29CD7,
        407px 1139px #A29CD7, 950px 1400px #b474cd, 922px 1139px #A29CD7, 1697px 293px #A29CD7,
        1238px 1281px #A29CD7, 1038px 1197px #b474cd, 376px 1889px #A29CD7,
        1255px 1680px #A29CD7, 1008px 1316px #b474cd, 1538px 1447px #A29CD7,
        1186px 874px #A29CD7, 1967px 640px #b474cd, 1341px 19px #A29CD7, 29px 1732px #A29CD7,
        16px 1650px #A29CD7, 1021px 1075px #b474cd, 723px 424px #A29CD7, 1175px 41px #A29CD7,
        494px 1957px #A29CD7, 1296px 431px #b474cd, 175px 1507px #A29CD7, 831px 121px #A29CD7,
        498px 1947px #A29CD7, 617px 880px #b474cd, 240px 403px #A29CD7;
}


@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}