body {
    background: #0c192c !important;
    overflow: hidden;
    transition: all 0.3s;
}

body::before {
    background: linear-gradient(45deg, #CC2F64, #8A2FCC);
    content: '';
    position: absolute;
    width: 100vw;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    opacity: 0.1;
    z-index: -1;
}

h2 {
    font-family: 'Silkscreen', cursive !important;
    color: #FFFFFF !important;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 42px !important;
    text-shadow: 0 0 20px #A29CD7 !important;
}

.button {
    position: relative;
    background: #444444;
    color: #FFFFFF;
    border-color: #FFFFFF;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 0.1em;
    font-family: 'Silkscreen', cursive;
    transition: 0.5s;
    border-radius: 8px;
    border: 1px solid white;
    cursor: pointer;
    --clr: #8A7DFD;
}

.button:hover {
    color: var(--clr);
    border-color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

.button::before {
    content: '';
    inset: 2px;
    background: #27282c;
}

.widget::before {
    position: absolute;
    content: '';
    background: #2c2727;
    left: 15%;
    top: -3px;
    width: 10px;
    height: 6px;
    transform: skewX(325deg);
    transition: 0.5s;
}

.button-anim:hover .widget::before {
    width: 20px;
    left: 80%;
}

.button-anim .widget::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 80%;
    width: 10px;
    height: 6px;
    background: #2c2727;
    transform: skewX(325deg);
    transition: 0.5s;
}

.button-anim:hover .widget::after {
    width: 20px;
    left: 15%;
}

.btn-next {
    font-size: 1.2em;
    outline: none;
}

#btn-return {
    position: absolute;
    right: 2em;
    top: 2em;
    font-size: 1.2em;
}

/*pantalla manuales*/
#btn-item {
    position: absolute;
    right: 8em;
    top: 2em;
    font-size: 1.2em;
}

p {
    font-family: 'Silkscreen', cursive !important;
    color: #fff !important;
    font-size: 15px !important;
    text-shadow: 0 0 20px #A29CD7 !important;
}

.text {
    font-family: 'Silkscreen', cursive !important;
    font-size: 2em !important;
    text-shadow: 0 0 20px #A29CD7 !important;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
}

#loading-label {
    position: absolute;
    color: #FFFFFF;
    font-size: 20px;
    text-shadow: 0 0 20px #A29CD7;
    font-family: 'Silkscreen', cursive;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    animation: opatextl 5s linear infinite;
}

.loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}

.loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(112, 79, 201);
    box-shadow: 0 0 10px rgb(112, 79, 201),
        0 0 20px rgb(112, 79, 201),
        0 0 40px rgb(112, 79, 201),
        0 0 60px rgb(112, 79, 201),
        0 0 80px rgb(112, 79, 201),
        0 0 100px rgb(112, 79, 201);
    animation: animateloader 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes opatextl {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animateloader {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}


[type="text"],
[type="password"] {
    font-size: 1.5em;
    font-family: 'Silkscreen', cursive;
    border: none;
    text-transform: uppercase;
    border-radius: 0;
}

@media (max-width: 450px) {

    [type="text"],
    [type="password"] {
        font-size: 1.2em;
    }

    .text {
        font-size: 1.5em !important;
    }

}


#btn-login,
#btn-register,
#btn-guess {
    font-size: 1.3em;
    margin-bottom: 64px;
}

/*Canvas + cuadro*/
.content {
    background: rgba(12, 25, 44, .4);
    width: 840px;
    height: 560px;
    margin: 0 auto;
    position: relative;
    margin-top: 5%;
    box-shadow: 2px 5px 20px rgba(191, 164, 255, 0.5);
    overflow-y: scroll;
}

.box {
    background: rgba(12, 25, 44, .4);
    box-shadow: 2px 5px 20px rgba(191, 164, 255, 0.5);
    overflow-y: scroll;
}



label {
    font-size: 1.5em;
    font-family: 'Silkscreen', cursive;
    color: #fff;
    text-shadow: 0 0 20px #A29CD7;
    margin-bottom: 0 !important;
}

input[type="range"] {
    width: 50%;
}

input::-webkit-slider-thumb {
    background: rgb(145, 88, 236) !important;
    box-shadow: 0 0 20px #A29CD7;
}

input[type="checkbox"], input[type="radio"] {
    border: none;
    vertical-align: middle;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
    background: rgb(145, 88, 236) !important;
    box-shadow: 0 0 20px #A29CD7;
}

#img-control {
    margin-left: -30%;
}

/*burbujas 2*/
.bubbles-circle span {
    position: absolute;
    border-radius: 50%;
    background: rgb(167, 138, 236);
    animation: ani 5s linear infinite;
}

@keyframes ani {
    0% {
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        transform: scale(1) translateY(-500%) rotate(360deg);
        opacity: 0;
    }
}

/*pantalla home*/
#home-title {
    left: 1em;
    position: absolute;
    z-index: 10;
    line-height: 200px;
    font-family: 'Silkscreen', cursive;
    color: #fff;
    text-shadow: 0 0 20px #A29CD7;
    animation: transition 2s linear;
    font-size: 6rem !important;
}

@media (max-width: 800px) {
    #home-title {
        font-size: 4rem !important;
    }
}

@media (max-width: 456px) {
    #home-title {
        font-size: 2.5rem !important;
    }
}

@keyframes transition {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.home-container {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/images/pantalla3.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: transition 2s linear;
}

#menu-buttons {
    position: absolute;
    padding-right: 3em;
    padding-bottom: 3em;
    right: 0;
    bottom: 0;
    animation: transition 2s linear;
}

#btn-play {
    font-size: 2.5em;
    padding: 10px 57px;
}

#btn-play i::before {
    content: '';
    position: absolute;
    top: -4px;
    left: 80%;
    width: 16px;
    height: 8px;
    background: #27282c;
    transition: 0.5s;
}

#btn-play:hover i::before {
    width: 20px;
    left: 20%;
}

#btn-play i::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 20%;
    width: 16px;
    height: 8px;
    background: #27282c;
    transition: 0.5s;
}

#btn-play:hover i::after {
    width: 20px;
    left: 80%;
}

#btn-config,
#btn-score,
#btn-user,
#btn-exit,
#btn-book {
    padding: 10px 20px;
    font-size: 1.5em;
    margin-top: 0.5em;
    transition: 0.5s;
}

.title {
    font-family: 'Silkscreen', cursive;
    font-size: 42px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 64px;
    text-shadow: 0 0 20px #A29CD7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 460px) {
    .title {
        font-size: 32px;
    }

    label {
        font-size: 30px,
    }
}

@media (max-width: 340px) {
    .title {
        font-size: 24px;
    }

    label {
        font-size: 22px;
    }
}

@media (max-height: 460px) {
    .title {
        margin-bottom: 32px !important;
    }

    .title {
        font-size: 32px;
    }
}

@media (max-height: 340px) {
    .title {
        margin-bottom: 16px !important;
    }

    .title {
        font-size: 24px;
    }
}

/*icono*/
#img_icono {
    position: absolute;
    width: 90%;
    bottom: 0%;
    left: 10%;
    opacity: 0.7;
    animation: opacityt 5s linear;
}

@keyframes opacityt {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bubbles {
    display: flex;
}

.bubbles span {
    width: 80rem;
    height: 2rem;
    background: #A29CD7;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #A29CD744,
        0 0 50px #A29CD7,
        0 0 100px #A29CD7;
    animation: animatebubble 15s linear infinite;
    animation-duration: calc(125s/var(--i));
}

.bubbles span:nth-child(even) {
    background: #b474cd;
    box-shadow: 0 0 0 10px #b474cd44,
        0 0 50px #b474cd,
        0 0 100px #b474cd;
}

@keyframes animatebubble {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(0.4);
    }
}

/*pantalla score*/
.scrollbar {
    position: relative;
    height: 315px;
}

@media (max-height: 420px) {
    .scrollbar {
        height: 215px;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1C162E;
}

::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
}


/*tabla*/
table {
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    color: #fff;
    font-family: 'Silkscreen', cursive;
    padding: 1rem;
}

tr {
    background: rgb(28, 22, 46);
    color: #fff;
}

tbody tr:hover {
    color: #fff;
    background: rgb(53, 42, 87);
}

#btn-singleplayer {
    margin-bottom: 64px;
}

#btn-checkmate {
    margin-bottom: 64px;
}

#btn-easy {
    margin-bottom: 64px;
}

@media (max-width: 450px) {

    #btn-singleplayer,
    #btn-multiplayer,
    #btn-checkmate,
    #btn-coldwar,
    #btn-easy,
    #btn-hard {
        font-size: 1.2rem !important;
    }

}

@media (max-height: 460px) {

    #btn-singleplayer,
    #btn-checkmate,
    #btn-easy {
        margin-bottom: 32px !important;
    }

    #btn-singleplayer,
    #btn-multiplayer,
    #btn-checkmate,
    #btn-coldwar,
    #btn-easy,
    #btn-hard {
        font-size: 1.2rem !important;
    }

}

@media (max-height: 340px) {

    #btn-singleplayer,
    #btn-checkmate,
    #btn-easy {
        margin-bottom: 16px !important;
    }

}

/*pantalla escenario*/
@keyframes animate {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

#maps {
    height: 400px;
    overflow-y: scroll;
}

@media (max-height: 570px) {
    #maps {
        height: 300px;
    }
}

@media (max-height: 400px) {
    #maps {
        height: 200px;
    }
}

.desert {
    height: 400px;
    background-image: url('../assets/images/desierto.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.forest {
    height: 400px;
    background-image: url('../assets/images/bosque3.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.snow {
    height: 400px;
    background-image: url('../assets/images/nieve.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.capa {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #8521DD, #D121DD);
    opacity: 0;
    transition: all 500ms ease-out;
    z-index: 1;
}

.capa h2 {
    position: relative;
    top: 0%;
    transition: all 500ms ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.capa:hover > h2 {
    top: 10%;
}

.capa:hover {
    opacity: 0.5;
    visibility: visible;
}

/* Pause */
#canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

#btn-home,
#btn-resume {
    margin-right: 8px;
}
