<div class="loader-wrapper">
    <h5>Cargando...</h5>
    <div class="loader">
        <span style="--i:1"></span>
        <span style="--i:2"></span>
        <span style="--i:3"></span>
        <span style="--i:4"></span>
        <span style="--i:5"></span>
        <span style="--i:6"></span>
        <span style="--i:7"></span>
        <span style="--i:8"></span>
        <span style="--i:9"></span>
        <span style="--i:10"></span>
        <span style="--i:11"></span>
        <span style="--i:12"></span>
        <span style="--i:13"></span>
        <span style="--i:14"></span>
        <span style="--i:15"></span>
        <span style="--i:16"></span>
        <span style="--i:17"></span>
        <span style="--i:18"></span>
        <span style="--i:19"></span>
        <span style="--i:20"></span>
    </div>
</div>

<h2 class="config-title">AJUSTES</h2>
  <!--Particulas-->
  <div class="bubbles-circle"></div>

<div class="content">
    <div class="menus">
        <nav>
            <button class="button button-anim" style="--clr:#8A7DFD" id="btn-graficos">
                <span>GRÁFICOS</span>
              
            </button>
        </nav>
        <nav>
            <button class="button button-anim" style="--clr:#8A7DFD" id="btn-audio">
                <span>AUDIO</span>
              
            </button>
        </nav>
        <nav>
            <button class="button button-anim" style="--clr:#8A7DFD" id="btn-controles">
                <span>CONTROLES</span>
              
            </button>
        </nav>
    </div>
    <div class="ajustes">
        <div class="graficos" id="graficos-vista">
            <form id="graphics-form">
                <label for="fov-id" class="form-label">FOV</label>
                <input type="range" class="form-range" id="fov-id" name="fov_name" min="0" max="100"><br><br><br>
                <label for="sombras-id" class="form-label">SOMBRAS</label>
                <input type="checkbox" class="form-check" id="sombras-id" name="shadows"><br><br><br>
                <label class="form-label">OUTPUT ENCODING</label> <br><br><br>
                <label for="srgb-id" class="form-label">SRGBENCODING</label>
                <input type="checkbox" class="form-check" id="srgb-id" name="srgb_name"> &nbsp;&nbsp;
                <label for="dllas-id" class="form-label">NA DLLAS</label>
                <input type="checkbox" class="form-check" id="dllas-id" name="dllas_name"><br><br>
                <label for="none-id" class="form-label">NINGUNA</label>
                <input type="checkbox" class="form-check" id="none-id" name="none_name"> &nbsp;&nbsp;
                <label for="linear-id" class="form-label">LINEAR ENCODING</label>
                <input type="checkbox" class="form-check" id="linear-id" name="linear_name"><br><br><br><br>
                <label for="antialias-id" class="form-label">ANTIALIAS</label>
                <input type="checkbox" class="form-check" id="antialias-id" name="antialias_name"><br>
                <button type="submit" class="btn button button-anim" id="aceptar-graficos" value="aceptar"
                    style="--clr:#8A7DFD">
                    <span>ACEPTAR</span>
                </button>
            </form>
        </div>
        <div class="audio" id="audio-vista" style="display:none">
            <form id="form-audio">
                <label for="sonido-id" class="form-label">HABILITAR/DESHABILITAR</label>
                <input type="checkbox" class="form-check" id="sonido-id" name="sonido_name"><br><br><br>
                <label for="volume-id" class="form-label">VOLUMEN</label>
                <input type="range" class="form-range" id="volume-id" name="volume_name" min="0" max="100"><br>
                <button type="submit" class="btn button button-anim" id="aceptar-audio" value="aceptar"
                    style="--clr:#8A7DFD">
                    <span>ACEPTAR</span>
                </button>
            </form>
        </div>
    </div>
 <!--Btn Return-->
 <div>
    <a class="button" href="/" id="btn-return" style="--clr:#8A7DFD">
        <span></span>
        <i id="regreso"></i>
        <i class="bx bx-undo"></i>
    </a>
</div>
</div>
