<div class="bubbles-circle"></div>
<div class="container-box">
    <h2 class="title"></h2>

    <!--Btn Check Mate-->
    <div id="contain-mate">
        <button class="button button-anim" onclick="modojuego()" id="btn-mate" style="--clr:#8A7DFD">
            <span>MODO JAQUE MATE</span>
            <i class="widget"></i>
        </button>
    </div>

    <!--Btn Guerra Fría-->
    <div id="contain-guerra">
        <button class="button button-anim" onclick="modojuego()" id="btn-guerra" style="--clr:#8A7DFD">
            <span>MODO GUERRA FRÍA</span>
            <i class="widget"></i>
        </button>
    </div>

    <!--Btn Return-->
    <div>
        <button class="button" onclick="regresarJ()" id="btn-return" style="--clr:#8A7DFD">
            <span></span>
            <i id="#regreso"></i>
            <i class='bx bx-undo'></i>
        </button>
    </div>
</div>