<div class="bubbles-circle"></div>
<div class="container-box">
    <h2 class="title"></h2>

    <!--Btn Check Mate-->
    <div id="contain-mate">
        <a class="button button-anim" 
            href="/dificulty" 
            id="btn-checkmate"
            value="checkmate"
            style="--clr:#8A7DFD">
            <span>MODO JAQUE MATE</span>
            <i class="widget"></i>
        </a>
    </div>

    <!--Btn Guerra Fría-->
    <div id="contain-guerra">
        <a class="button button-anim" 
            href="/dificulty" 
            id="btn-coldwar" 
            style="--clr:#8A7DFD"
            value="coldwar">
            <span>MODO GUERRA FRÍA</span>
            <i class="widget"></i>
        </a>
    </div>

    <!--Btn Return-->
    <div>
        <a class="button" href="/players" id="btn-return" style="--clr:#8A7DFD">
            <span></span>
            <i id="#regreso"></i>
            <i class='bx bx-undo'></i>
        </a>
    </div>
</div>