<canvas id="canvas"></canvas>

<div class="container-box">
    <h2 style="font-size:55px">PAUSA</h2>

    <!--Btn Home-->
    <div style="display: inline; margin-right: 8px">
        <button class="button" href="/" id="btn-home" style="--clr:#8A7DFD"
            class='btn btn-primary btn-lg'>
            <span></span>
            <i id="home"></i>
            <i class="bx bx-home"></i>
        </button>
    </div>

    <!--Btn Reiniciar-->
    <div style="display: inline; margin-right: 16px">
        <a class="button" type="submit" id="btn-reiniciar" style="--clr:#8A7DFD" 
        class="btn btn-primary btn-lg">
            <span></span>
            <i id="restart"></i>
            <i class="bx bx-redo"></i>
        </a>
    </div>

    <!--Btn Exit-->
    <div style="display: inline; margin-right: 8px">
        <a class="button" id="btn-exit" href="/configuration"
            style="--clr:#8A7DFD" class="btn btn-primary btn-lg">
            <span></span>
            <i id="salir"></i>
            <i class="bx bx-cog"></i>
        </a>
    </div>

    <!--Btn Reanudar-->
    <div>
        <a class="button button-anim" id="btn-reanudar" href="/game" style="--clr:#8A7DFD"
            class="btn btn-primary btn-lg">
            <span>REANUDAR</span>
            <i class="widget"></i>
        </a>
    </div>
</div>