<canvas id="canvas"></canvas>

<div class="container-box">
    <h2 style="font-size:55px">PAUSA</h2>

    <!--Btn Home-->
    <div style="display: inline; margin-right: 8px">
        <button class="button" type="submit" onclick="irhome()" id="btn-home" style="--clr:#8A7DFD"
            class='btn btn-primary btn-lg'>
            <span></span>
            <i id="home"></i>
            <i class="bx bx-home"></i>
        </button>
    </div>

    <!--Btn Reiniciar-->
    <div style="display: inline; margin-right: 16px">
        <button class="button" type="submit" id="btn-reiniciar" style="--clr:#8A7DFD" class='btn btn-primary btn-lg'>
            <span></span>
            <i id="restart"></i>
            <i class="bx bx-redo"></i>
        </button>
    </div>

    <!--Btn Exit-->
    <div style="display: inline; margin-right: 8px">
        <button class="button" type="submit" id="btn-exit" onclick="location.href = 'configuracion.html'"
            style="--clr:#8A7DFD" class='btn btn-primary btn-lg'>
            <span></span>
            <i id="salir"></i>
            <i class="bx bx-cog"></i>
        </button>
    </div>

    <!--Btn Reanudar-->
    <div>
        <button class="button button-anim" type="submit" id="btn-reanudar" onclick="irjuego()" style="--clr:#8A7DFD"
            class='btn btn-primary btn-lg'>
            <span>REANUDAR</span>
            <i class="widget"></i>
        </button>
    </div>
</div>