<div class="bubbles-circle"></div>
<div class="container-box">

    <h2 class="title"></h2>

    <!--Btn Singleplayer-->
    <div id="contain-player">
        <a class="button button-anim" 
            id="btn-singleplayer" 
            href="/mode"
            value="singleplayer">
            <span><i class="bx bx-user"></i> 1 JUGADOR</span>
            <i class="widget"></i>
        </a>
    </div>

    <!--Btn MultiPlayer-->
    <div id="contain-multi">
        <a class="button button-anim" 
            id="btn-multiplayer"
            href="/mode"
            value="multiplayer">
            <span><i class="bx bx-group"></i> MULTIJUGADOR</span>
            <i class="widget"></i>
        </a>
    </div>

    <!--Btn Return-->
    <div>
        <a class="button" href="/" id="btn-return" style="--clr:#8A7DFD">
            <span></span>
            <i id="regreso"></i>
            <i class="bx bx-undo"></i>
        </a>
    </div>

    <input type="text" name="" id="" class="form-control border-0 mx-5">

</div>