<div class="bubbles-circle"></div>

<div class="container-box">
    <h2 class="title" style="margin-top: 10px"></h2>

    <div class="flex-container">
        <div class="flex-item-desert">
            <div class="capa">
                <h2></h2>
            </div>
        </div>
        <div class="flex-item-forest">
            <div class="capa">
                <h2></h2>
            </div>
        </div>
        <div class="flex-item-snow">
            <div class="capa">
                <h2></h2>
            </div>
        </div>
    </div>
</div>

<!--Btn Return-->
<button class="button" type="submit" onclick="regresarD();" id="btn-return" style="--clr:#8A7DFD">
    <span></span>
    <i id="#regreso"></i>
    <i class='bx bx-undo'></i>
</button>