<div class="loader-wrapper">
    <h5>Cargando...</h5>
    <div class="loader">
        <span style="--i:1"></span>
        <span style="--i:2"></span>
        <span style="--i:3"></span>
        <span style="--i:4"></span>
        <span style="--i:5"></span>
        <span style="--i:6"></span>
        <span style="--i:7"></span>
        <span style="--i:8"></span>
        <span style="--i:9"></span>
        <span style="--i:10"></span>
        <span style="--i:11"></span>
        <span style="--i:12"></span>
        <span style="--i:13"></span>
        <span style="--i:14"></span>
        <span style="--i:15"></span>
        <span style="--i:16"></span>
        <span style="--i:17"></span>
        <span style="--i:18"></span>
        <span style="--i:19"></span>
        <span style="--i:20"></span>
    </div>
</div>

<div class="container">
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center w-100">
            <h1>PUNTAJES</h1>
            
            <div class="table-responsive table-wrapper scrollbar overflow-auto">
                <table class="table table-striped table-borderless mb-0">
                    <thead class="sticky-top">
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Score</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                    </tbody>
                </table>
            </div>

            <!--Stars-->
            <div class="wrapper">
                <div id="stars"></div>
                <div id="stars2"></div>
                <div id="stars3"></div>
            </div>
        </div>
    </div>
</div>

<!--Btn Return-->
<a class="button" href="/" id="btn-return" style="--clr:#8A7DFD">
    <span></span>
    <i id="#regreso"></i>
    <i class="bx bx-undo"></i>
</a>