<section class="container">
    <div class="d-flex align-items-center justify-content-center vh-100">
        <form class="text-center" id="signup-form">
            <h2 id="signup-title"></h2>

            <div class="mb-5">
                <label for="username" class="form-label" role="button">Nombre de usuario:</label>
                <input type="text" name="username" id="username" class="form-control">
            </div>

            <div>
                <label for="password" class="form-label" role="button">Contraseña:</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>

            <a href="/login">Login</a>

            <div>
                <button type="submit" class="btn button button-anim" id="btn-multiplayer" href="/mode" value="multiplayer">
                    <span>Registrarse</span>
                    <i class="widget"></i>
                </button>
            </div>
        </form>
    </div>
    <div>
        <a class=" button" href="/" id="btn-return" style="--clr:#8A7DFD">
            <span></span>
            <i id="regreso"></i>
            <i class="bx bx-undo"></i>
        </a>
    </div>
</section>